#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
packages/
RazorTemplatesMvc.NuGet/
*.js.map
_Chutzpah*.*
/TesserisPro.TGrid.Demo/Scripts/KnockoutHtmlProvider.ts
/TesserisPro.TGrid.Demo/Scripts/IHtmlProvider.js
/TesserisPro.TGrid.Demo/Scripts/IHtmlProvider.ts
/TesserisPro.TGrid.Demo/Scripts/KnockoutHtmlProvider.js
/TesserisPro.TGrid/angular/*.js
/TesserisPro.TGrid/knockout/*.js
/TesserisPro.TGrid/*.js
/TesserisPro.TGrid.Demo/Scripts/AngularHtmlProvider.js
/TesserisPro.TGrid.Demo/Scripts/AngularHtmlProvider.ts
/TesserisPro.TGrid.Demo/Scripts/BaseHtmlProvider.js
/TesserisPro.TGrid.Demo/Scripts/BaseHtmlProvider.ts
/TesserisPro.TGrid.Demo/Scripts/IGroup.js
/TesserisPro.TGrid.Demo/Scripts/IGroup.ts
/TesserisPro.TGrid.Demo/Scripts/IGroupableItemProvider.js
/TesserisPro.TGrid.Demo/Scripts/IGroupableItemProvider.ts
/TesserisPro.TGrid.Demo/Scripts/IItemProvider.js
/TesserisPro.TGrid.Demo/Scripts/IItemProvider.ts
/TesserisPro.TGrid.Demo/Scripts/ISortableItemProvider.js
/TesserisPro.TGrid.Demo/Scripts/ISortableItemProvider.ts
/TesserisPro.TGrid.Demo/Scripts/ItemViewModel.js
/TesserisPro.TGrid.Demo/Scripts/ItemViewModel.ts
/TesserisPro.TGrid.Demo/Scripts/Options.js
/TesserisPro.TGrid.Demo/Scripts/Options.ts
/TesserisPro.TGrid.Demo/Scripts/SortDescriptor.js
/TesserisPro.TGrid.Demo/Scripts/SortDescriptor.ts
/TesserisPro.TGrid.Demo/Scripts/TGrid.js
/TesserisPro.TGrid.Demo/Scripts/TGrid.ts
/TesserisPro.TGrid.Demo/Scripts/TGridBinding.js
/TesserisPro.TGrid.Demo/Scripts/TGridBinding.ts
/TesserisPro.TGrid.Demo/Scripts/utils.js
/TesserisPro.TGrid.Demo/Scripts/utils.ts
/TesserisPro.TGrid.Demo/Styles/grid.css
TesserisPro.TGrid.Demo/Scripts/FilterDescriptor.js
TesserisPro.TGrid.Demo/Scripts/FilterDescriptor.ts
TesserisPro.TGrid.Demo/Scripts/IFilterableItemProvider.js
TesserisPro.TGrid.Demo/Scripts/IFilterableItemProvider.ts
TesserisPro.TGrid.Demo/Scripts/GroupHeaderDescriptor.js
TesserisPro.TGrid.Demo/Scripts/GroupHeaderDescriptor.ts
TesserisPro.TGrid.Demo/Scripts/TGridDirective.js
TesserisPro.TGrid.Demo/Scripts/TGridDirective.ts
