@{
    ViewBag.Title = "TGrid Demo";
}
<link rel="stylesheet" type="text/css" href="~/Styles/Grid.css">

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/jquery-2.0.3.js"></script>
<script src="~/Scripts/knockout-2.3.0.js"></script>


<script src="~/Scripts/BaseHtmlProvider.js" type="text/javascript"></script>
<script src="~/Scripts/KnockoutHtmlProvider.js" type="text/javascript"></script>
<script src="~/Scripts/AngularHtmlProvider.js" type="text/javascript"></script>
<script src="~/Scripts/options.js" type="text/javascript"></script>
<script src="~/Scripts/ItemViewModel.js" type="text/javascript"></script>
<script src="~/Scripts/TGrid.js" type="text/javascript"></script>
<script src="~/Scripts/TGridBinding.js" type="text/javascript"></script>
<script src="~/Scripts/SortDescriptor.js" type="text/javascript"></script>
<script src="~/Scripts/ItemViewModel.js" type="text/javascript"></script>
<script src="~/Scripts/utils.js" type="text/javascript"></script>


<h1>TGrid Demo</h1>

<h2>Pure JavaScript</h2>

<div id="test-pure-js">
    <script type="text/html">
        <column data-g-width="150" data-g-views="mobile,desktop">
            <header>
                <span>Name</span>
            </header>
            <cell>
                <span style="color: red;">test</span>
            </cell>
        </column>

        <column data-g-width="100" data-g-views="mobile,desktop">
            <header>Key</header>
            <cell />
        </column>

        <mobile>
            <div>
            </div>
        </mobile>

        <details></details>
    </script>
</div>

<script>
    $(function () {
        //var target = $("#test-pure-js");
        //var options = new TesserisPro.TGrid.Options(target,TesserisPro.TGrid.Framework.Knockout);
        //var grid = new TesserisPro.TGrid.Grid(target, options);
    });
</script>

<h2>Knockout</h2>

<div id="test-knockout" data-bind="tgrid: {provider: itemsProvider, groupBy: 'name'}" data-g-page-size="4" data-g-edit-mode="2" data-g-select-mode="1">
    <script type="text/html">
        <column data-g-width="150" data-g-views="mobile,desktop" data-g-sort-member="name" data-g-group-member="name">
            <header>
                <span style="color: red;" data-bind="text: nameColumnTitle"></span>
            </header>
            <cell>
                <span style="color: red;" data-bind="text: item.name"></span>
                <a href data-bind="click: function () { getCellDetailFor(0); }">[]</a>
            </cell>
            <celldetail>
                <div>
                    <span>Cell details: </span>
                    <span style="color: brown;" data-bind="text: item.detail_name"></span>
                </div>
            </celldetail>
        </column>
        <column data-g-width="100" data-g-views="mobile,desktop" data-g-sort-member="key" data-g-group-member="key">
            <header>Key</header>
            <cell>
                <span data-bind="text: item.key"></span>
                <a href data-bind="click: function () { getCellDetailFor(1); }">[]</a>
            </cell>
            <celldetail>
                <div>
                    <span>Cell details: </span>
                    <span style="color: brown;" data-bind="text: item.detail_key"></span>
                </div>
            </celldetail>
        </column>

        <mobile>
            <div>
                <span>Name: </span>
                <span style="color: red;" data-bind="text: item.name"></span>
                <a href data-bind="click: function () { getCellDetailFor(0); }">[]</a>
                <br />
                <span>Key: </span>
                <span data-bind="text: item.key"></span>
                <a href data-bind="click: function () { getCellDetailFor(1); }">[]</a>
            </div>
        </mobile>

        <details>
            <div>
                <span>Row details: </span>
                <span style="color: blue;" data-bind="text: item.detail"></span>
            </div>
        </details>
    </script>
</div>

<script type="text/javascript">
    var SimpleItemsProvider = (function () {
        var items = [
                { name: "a1", key: "a4", detail: "details item a1 a4", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a1", key: "c3", detail: "details item b1 c3", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c1", key: "b3", detail: "details item c1 b3", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a1", key: "a3", detail: "details item a2 a3", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "b2", key: "c2", detail: "details item b2 c2", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c2", key: "b2", detail: "details item c2 b2", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a3", key: "a2", detail: "details item a3 a2", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "b3", key: "c1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c3", key: "b1", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a4", key: "a1", detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key" }
        ];

        var grouped = false;

        var groups = new Array();

        function SimpleItemsProvider() {
        }

        SimpleItemsProvider.prototype.getItems = function (firstItem, itemsNumber, callback) {
            if (grouped) {
                callback(groups.slice(firstItem, firstItem + itemsNumber), firstItem, itemsNumber);
            }
            else {
                callback(items.slice(firstItem, firstItem + itemsNumber), firstItem, itemsNumber);
            }
        };

        SimpleItemsProvider.prototype.getTotalItemsCount = function (callback) {
            callback(items.length);
        };

        SimpleItemsProvider.prototype.sort = function (sortDescriptor) {
            items.sort(function (a, b) {
                var ascOrder = sortDescriptor.asc ? -1 : 1;
                var descOrder = sortDescriptor.asc ? 1 : -1;
                if (sortDescriptor.column == "key") {
                    return a.key > b.key ? ascOrder : descOrder;
                }
                if (sortDescriptor.column == "name") {
                    return a.name > b.name ? ascOrder : descOrder;
                }
            })
        };

        function compareItems(item1, item2, columns) {
            for (var i = 0; i < columns.length; i++) {
                if (item1[columns[i]] != item2[columns[i]]) {
                    return false;
                }
            }

            return true;
        }

        SimpleItemsProvider.prototype.isGrouped = function () {
            return grouped;
        }

        SimpleItemsProvider.prototype.group = function (columns) {
            groups = new Array();

            var currentGroup = {
                values: new Array(),
                items: new Array()
            };

            for (var i = 0; i < columns.length; i++)
            {
                currentGroup.values.push(items[0][columns[i]]);
            }
            currentGroup.items.push(items[0]);

            groups.push(currentGroup);

            var groupFound;
            for (var i = 1; i < items.length; i++) {
                groupFound = false;
                for (var j = 0; j < groups.length; j++) {
                    if (compareItems(groups[j].items[0], items[i], columns)) {
                        groups[j].items.push(items[i]);
                        groupFound = true;
                        break;
                    }
                }

                if (!groupFound) {
                    currentGroup = {
                        values: new Array(),
                        items: new Array()
                    };

                    for (var j = 0; j < columns.length; j++) {
                        currentGroup.values.push(items[i][columns[j]]);
                    }
                    currentGroup.items.push(items[i]);

                    groups.push(currentGroup);
                }
            }

            grouped = true;
        };

        return SimpleItemsProvider;
    })();

    function vm() {
        var self = this;
        self.nameColumnTitle = "Name";

        self.itemsProvider = new SimpleItemsProvider();
    };

    $(function () {
        ko.applyBindings(new vm());
    });
</script>

<h2>Angular</h2>

<div id="test-angular">
    <script type="text/html">
        <column data-g-width="150" data-g-views="mobile,desktop">
            <header>
                <span style="color: red;">{{nameColumnTitle}}</span>
            </header>
            <cell>
                <span style="color: red;">{{name}}</span>
            </cell>
        </column>
        <column data-g-width="100" data-g-views="mobile,desktop">
            <header>Key</header>
            <cell>
                <span style="color: red;">{{key}}</span>
            </cell>
        </column>

        <mobile>
            <div>
            </div>
        </mobile>

        <details></details>
    </script>
</div>

<script type="text/javascript">
    angular.module('App', [])
    .controller('Ctrl', function agrid($scope) {
        $scope.nameColumnTitle = "name"
        $scope.items = [
            { "name": "a1", "key": "c2" },
            { "name": "b1", "key": "b2" },
            { "name": "c3", "key": "d2" },
            { "name": "d1", "key": "c2" },
            { "name": "e1", "key": "b2" },
            { "name": "f3", "key": "d2" },
            { "name": "g1", "key": "c2" },
            { "name": "j1", "key": "b2" },
            { "name": "k3", "key": "d2" },
            { "name": "l1", "key": "c2" },
            { "name": "m1", "key": "b2" },
            { "name": "n3", "key": "d2" },
            { "name": "o4", "key": "a2" }
        ];
        $scope.sortColumn = "name";
        $scope.sortOrder = false;
        $scope.totalItemCount = $scope.items.length;
        $scope.pageSize = 3;
        $scope.pageSlide = 1;
        $scope.currentPage = 1;
        $scope.firstItemIndex = function () {
            return ($scope.currentPage * $scope.pageSize) + 1;
        }
        $scope.lastItemIndex = function () {
            return Math.min(($scope.currentPage + 1) * $scope.pageSize, $scope.totalItemCount);
        }
        $scope.maxPage = function () {
            return Math.ceil($scope.totalItemCount / $scope.pageSize - 1);
        }
        $scope.nextPage = function () {
            if ($scope.currentPage != $scope.maxPage()) $scope.currentPage++
        }
        $scope.previousPage = function () {
            if ($scope.currentPage != 0) $scope.currentPage--;
        }
    })
    .filter('startFrom', function () {
        return function (input, start) {
            start = +start; //parse to int
            return input.slice(start);
        }
    });

    $(function () {
        var id = $(document.getElementById('test-angular'));
        //var opt = new TesserisPro.TGrid.Options(id, TesserisPro.TGrid.Framework.Angular);
        // var grid = TesserisPro.TGrid.Grid(id, opt)

        angular.bootstrap(id, ['App'])
    })
</script>

<h2>Angular sample of result</h2>
<!--
<div>
    <div ng-app>
        <table ng-controller="ctrl" border="1">
            <thead>
                <tr>
                    <th ng-repeat="item in header"> {{item}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                  <td>
                      {{item.Name}}
                  </td>
                  <td>
                      {{item.Key}}
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    -->

<script type="text/javascript">
    'use strict';
    function ctrl($scope) {
        $scope.header = ["name", "key"]
        $scope.items = [
                { "Name": "First ", "Key": "Last" },
                { "Name": "Second", "Key": "Last 1" }];
    }
</script>
