@{
    ViewBag.Title = "TGrid Demo";
}
<link rel="stylesheet" type="text/css" href="~/Styles/Grid.css">

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/jquery-2.0.3.js"></script>
<script src="~/Scripts/knockout-2.3.0.js"></script>

<script src="~/Scripts/AngularFilterPopupViewModel.js" type="text/javascript"></script>
<script src="~/Scripts/KnockoutFilterPopupViewModel.js" type="text/javascript"></script>
<script src="~/Scripts/BaseHtmlProvider.js" type="text/javascript"></script>
<script src="~/Scripts/KnockoutHtmlProvider.js" type="text/javascript"></script>
<script src="~/Scripts/AngularHtmlProvider.js" type="text/javascript"></script>
<script src="~/Scripts/options.js" type="text/javascript"></script>
<script src="~/Scripts/ItemViewModel.js" type="text/javascript"></script>
<script src="~/Scripts/TGrid.js" type="text/javascript"></script>
<script src="~/Scripts/TGridBinding.js" type="text/javascript"></script>
<script src="~/Scripts/TGridDirective.js" type="text/javascript"></script>
<script src="~/Scripts/SortDescriptor.js" type="text/javascript"></script>
<script src="~/Scripts/FilterDescriptor.js" type="text/javascript"></script>
<script src="~/Scripts/GroupHeaderDescriptor.js" type="text/javascript"></script>
<script src="~/Scripts/utils.js" type="text/javascript"></script>
<script src="~/Scripts/KnockoutFooterViewModel.js" type="text/javascript"></script>
<script src="~/Scripts/AngularFooterViewModel.js" type="text/javascript"></script>
<script src="~/Scripts/AngularItemViewModel.js" type="text/javascript"></script>


@*<script src="~/Scripts/tgrid-min.js" type="text/javascript"></script>
<script src="~/Scripts/tgrid-angular-min.js" type="text/javascript"></script>
<script src="~/Scripts/tgrid-knockout-min.js" type="text/javascript"></script>*@

@*<script type="text/javascript">
    window.onerror = function (msg, url, line) {
        alert("Error: " + msg + "\n\nUrl: " + url + "\n\nLine: " + line);
        return true;
    };
</script>*@

<h1>TGrid Demo</h1>

<h2>Pure JavaScript</h2>

<div id="test-pure-js">
    <script type="text/html">
        <column data-g-width="150" data-g-views="mobile,desktop">
            <header>
                <span>Name</span>
            </header>
            <cell>
                <span style="color: red;">test</span>
            </cell>
        </column>

        <column data-g-width="100" data-g-views="mobile,desktop">
            <header>Key</header>
            <cell />
        </column>

        <mobile>
            <div>
            </div>
        </mobile>

        <details></details>
    </script>
</div>

<script>
    $(function () {
        //var target = $("#test-pure-js");
        //var options = new TesserisPro.TGrid.Options(target,TesserisPro.TGrid.Framework.Knockout);
        //var grid = new TesserisPro.TGrid.Grid(target, options);
    });
</script>

<h2>Knockout</h2>

<div id="test-knockout" data-bind="tgrid: { provider: itemsProvider, pageSize: '10',  enableVirtualScroll: false, enablePaging: 'false', enableCollapsing: 'false', enableGrouping: 'true', enableFiltering: 'true', enableSorting: 'true', showDetailsOnSelection: true, selectionMode: 'single' }">
    <script type="text/html">
        <column data-g-width="150" data-g-views="mobile" data-g-member ="name" data-g-group-member ="name">
            <header>
                <span style="color: red;" data-bind="text: nameColumnTitle"></span>
            </header>
            <cell>
                <span style="color: red;" data-bind="text: item.name"></span>
                <a href data-bind="click: function () { showDetailForCell(0); }, clickBubble: false">[]</a>
            </cell>
            <celldetail>
                <div>
                    <span>Cell details: </span>
                    <span style="color: brown;" data-bind="text: item.detail_name"></span>
                </div>
            </celldetail>
        </column>
        <column data-g-width="100" data-g-views="mobile,desktop" data-g-member ="key">
           <header>
                <span>Key</span>
            </header>
            <cell>
                <span data-bind="text: item.key"></span>
                <a href data-bind="click: function () { showDetailForCell(1); }, clickBubble: false">[]</a>
            </cell>
            <celldetail>
                <div>
                    <span>Cell details: </span>
                    <span style="color: brown;" data-bind="text: item.detail_key"></span>
                </div>
            </celldetail>
        </column>
        <column data-g-width="150" data-g-views="mobile,desktop" data-g-member ="key2" data-g-sort-member="key2" data-g-group-member ="key2" data-g-filter-member="key2">
            <header>
                <span>key2</span>
            </header>
            <cell>
                <span style="color: red;" data-bind="text: item.key2"></span>
            </cell>
            <celldetail>
                <div>
                    <span>Cell details key2: </span>
                    <span style="color: brown;" data-bind="text: item.detail_name"></span>
                </div>
            </celldetail>
        </column>

        <groupheader>
            <div>
                <span style="color: green;" data-bind="text: item.value"></span>
            </div>
        </groupheader>

        <footer>
            TotalCount: <span data-bind="text: totalCount"> </span>.
            SelectedItem: <span data-bind="text: selectedItem">  </span>.
            CurrentPage: <span data-bind="text: currentPage"></span>.
            TotalPages: <span data-bind="text: totalPages"></span>.
        </footer>

        <filterpopup>
            <select data-bind="click: function(){}">
                <option value="1">Equals</option>
                <option value="2">Not Equals</option>
            </select>
            <input type='text' style="width:150px" value=""><br>
            <input type='button' value='Apply' style="width:70px" data-bind="click: function () { onApply(); }"/>
            <input type='button' value='Clear' style="width:70px" data-bind="click: function () { onClear(); }"/>
            <input type='button' value='Close' style="width:70px" data-bind="click: function () { onClose(); }"/>
        </filterpopup>

        <mobile>
            <div>
                <span>Name: </span>
                <span style="color: red;" data-bind="text: item.name"></span>
                <a href data-bind="click: function () { showDetailForCell(0); }, clickBubble: false">[]</a>
                <br />
                <span>Key: </span>
                <span style="color: red;" data-bind="text: item.key"></span>
                <a href data-bind="click: function () { showDetailForCell(1); }, clickBubble: false">[]</a>
                <br />
                <span>Key2: </span>
                <span data-bind="text: item.key2"></span>
            </div>
        </mobile>

        <details>
            <div>
                <span>Row details: </span>
                <span style="color: blue;" data-bind="text: item.detail"></span>
            </div>
        </details>
    </script>
</div>

<script type="text/javascript">
    var SimpleItemsProvider = (function () {
        var items = [
                { name: "a1", key: "a4", key2: "a4", detail: "details item a1 a4", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "a1", key: "a3", key2: "b4", detail: "details item b1 c3", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "c1", key: "b3", key2: "a2", detail: "details item c1 b3", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "a1", key: "a3", key2: "a3", detail: "details item a2 a3", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "b2", key: "c2", key2: "a1", detail: "details item b2 c2", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "c1", key: "b2", key2: "b4", detail: "details item c2 b2", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "a4", key: "a2", key2: "b2", detail: "details item a3 a2", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "a4", key: "a1", key2: "c2", detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } },
                { name: "c1", key: "b2", key2: "b4", detail: "details item c2 b2", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } },
                { name: "a4", key: "a2", key2: "b2", detail: "details item a3 a2", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "a4", key: "a1", key2: "c2", detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 3 } },
                { name: "c1", key: "b2", key2: "b4", detail: "details item c2 b2", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 3 } },
                { name: "a4", key: "a2", key2: "b2", detail: "details item a3 a2", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 3 } },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 3 } },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 3 } },
                { name: "a4", key: "a1", key2: "c2", detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 3 } },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 3 } },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 3 } },
                { name: "c1", key: "b2", key2: "b4", detail: "details item c2 b2", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 3 } },
                { name: "a4", key: "a2", key2: "b2", detail: "details item a3 a2", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 3 } },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 3 } },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 3 } },
                { name: "a4", key: "a1", key2: "c2", detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 3 } },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 3 } },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 3 } },
                { name: "c1", key: "b2", key2: "b4", detail: "details item c2 b2", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 3 } },
                { name: "a4", key: "a2", key2: "b2", detail: "details item a3 a2", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 3 } },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "a4", key: "a1", key2: "c2", detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "c1", key: "b2", key2: "b4", detail: "details item c2 b2", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 1 } },
                { name: "a4", key: "a2", key2: "b2", detail: "details item a3 a2", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } },
                { name: "a4", key: "a1", key2: "c2", detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } },
                { name: "c1", key: "b2", key2: "b4", detail: "details item c2 b2", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } },
                { name: "a4", key: "a2", key2: "b2", detail: "details item a3 a2", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } },
                { name: "a4", key: "a1", key2: "c2", detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } },
                { name: "a4", key: "a1", key2: "c2", detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } }
        ];        


        function SimpleItemsProvider() {
            for (var i = 0; i < items.length; i++) {
                items[i].key2 = i;
                items[i].detail = items[i].detail + " " + i;
            }

            for( var i= 0; i< 100; i++)
            {
                items.push({ name: "a4", key: "a1", key2: i, detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } });
            }
        }

        SimpleItemsProvider.prototype.getItems = function (firstItem, itemsNumber, sortDescriptors, filterDescriptors, collapsedFilterDescriptors, callback) {
            var oldItems = new Array();
            oldItems = oldItems.concat(items);
            sort(sortDescriptors);
            setTimeout(function () {
                callback(onFiltering(filterDescriptors, collapsedFilterDescriptors).slice(firstItem, firstItem + itemsNumber), firstItem, itemsNumber);
                items = new Array();
                items = items.concat(oldItems);
            }, 1);
        };

        SimpleItemsProvider.prototype.getTotalItemsCount = function (filterDescriptors, callback) {
            callback(onFiltering(filterDescriptors).length);
        };

        function onFiltering(filterDescriptors, collapsedFilterDescriptors) {
            if ((filterDescriptors == null || filterDescriptors.length == 0) && (collapsedFilterDescriptors == null || collapsedFilterDescriptors.length == 0)) {
                return items;
            }

            if (collapsedFilterDescriptors == undefined) {
                collapsedFilterDescriptors = [];
            }

            var isCollapsedItem = [];
            for (var c = 0; c < collapsedFilterDescriptors.length; c++) {
                isCollapsedItem.push(false);
            }

            var filterdItems = [];
            for (var j = 0; j < items.length; j++) {
                // filtering common filters
                var isFiltered = 0;
                for (var i = 0; i < filterDescriptors.length; i++) {
                    if (filter(items[j], filterDescriptors[i])) {
                        isFiltered++;
                    }
                }

                // filtering collapsed filter
                var isCollapsedFiltered = false;
                var numberfilter = -1;
                for (var i = 0; i < collapsedFilterDescriptors.length; i++) {
                    if (filter(items[j], collapsedFilterDescriptors[i])) {
                        isCollapsedFiltered = true;
                        numberfilter = i;
                        i = collapsedFilterDescriptors.length;
                    }
                }

                //add fake item for creating collapsing group
                if (isFiltered == 0 && !isCollapsedFiltered) {
                    filterdItems.push(items[j]);
                } else {
                    if (isFiltered == 0) {
                        if (isCollapsedFiltered && !isCollapsedItem[numberfilter]) {
                            var fakeItem = {};
                            fakeItem[collapsedFilterDescriptors[numberfilter].path] = collapsedFilterDescriptors[numberfilter].value;
                            for (var i = 0; i < collapsedFilterDescriptors[numberfilter].children.length; i++) {
                                fakeItem[collapsedFilterDescriptors[numberfilter].children[i].path] = collapsedFilterDescriptors[numberfilter].children[i].value;
                            }
                            filterdItems.push(fakeItem);
                            isCollapsedItem[numberfilter] = true;
                        }
                    }
                }
            }

            return filterdItems;
        }

        function filter(item, filterDescriptors) {
            if (!isFiltering(item[filterDescriptors.path], filterDescriptors.value, filterDescriptors.condition)) {
                if (filterDescriptors.children.length == 0) {
                    return true;
                } else {
                    var result = 0
                    for (var i = 0; i < filterDescriptors.children.length; i++) {
                        if (!isFiltering(item[filterDescriptors.children[i].path], filterDescriptors.children[i].value, filterDescriptors.children[i].condition)) {
                            result++;
                        }
                    }
                    if (result == filterDescriptors.children.length) {
                        return true;
                    }
                }
            }
            
            return false;
        }

        function isFiltering(item, value, condition) {
            // on false push to filtered items
            switch (condition){
                case 0://equal
                    return (item == value);
                case 1://not equal
                    return (item != value);
            }
            return false;
        }

        function sort(sortDescriptor) {
            if (sortDescriptor != null && sortDescriptor.length > 0 && isNotNull(sortDescriptor[0].path)) {
                    items.sort(function (a, b) {
                    return sortingRecursive(a, b, sortDescriptor, 0);
                });
            }
        };

        function sortingRecursive(a, b, sortDescriptor, i) {
            if (i != sortDescriptor.length - 1) {
                if (getMemberValue(a,sortDescriptor[i].path) > getMemberValue(b,sortDescriptor[i].path))
                    return sortingOrder(sortDescriptor[i]);
                if (getMemberValue(b,sortDescriptor[i].path) > getMemberValue(a,sortDescriptor[i].path))
                    return sortingOrderDesc(sortDescriptor[i]);
                return sortingRecursive(a, b, sortDescriptor, i + 1)
            } else {
                return getMemberValue(a,sortDescriptor[i].path) > getMemberValue(b,sortDescriptor[i].path) ? sortingOrder(sortDescriptor[i]) : sortingOrderDesc(sortDescriptor[i]);
            }
        }

        function sortingOrder(sortDescriptor) {
            return sortDescriptor.asc ? 1 : -1;
        }

        function sortingOrderDesc(sortDescriptor) {
            return sortDescriptor.asc ? -1 : 1;
        }

        function compareItems(item1, item2, columns) {
            for (var i = 0; i < columns.length; i++) {
                if (item1[columns[i]] != item2[columns[i]]) {
                    return false;
                }
            }

            return true;
        }

        return SimpleItemsProvider;
    })();

    function vm() {
        var self = this;
        self.nameColumnTitle = "Name";
        self.itemsProvider = new SimpleItemsProvider();
    };

    $(function () {
        ko.applyBindings(new vm());
    });
</script>

<h2>Angular</h2>
<div ng-app="TGrid"> 
<div ng-controller="ctrl">
<t-grid id="test-angular" provider="dataProvider" pageSize="10"  selectionMode="single" groupBy="" enableVirtualScroll=true enablePaging="false" enableCollapsing="false" enableGrouping="true" enableFiltering="true" enableSorting="true" showDetailsOnSelection= "true">
     <script type="text/html">
        <column data-g-width="150" data-g-views="mobile" data-g-member ="name" data-g-sort-member="name" data-g-group-member ="name"  data-g-filter-member="name">
            <header>
                <span style="color: red;">Name</span>
            </header>
            <cell>
                <span style="color: red;">{{item.name}}</span>
                <a href ng-click="showDetailForCell(0); $event.stopPropagation();">[]</a> @*data-bind="click: function () { showDetailForCell(0); }"*@
            </cell>
            <celldetail>
                <div>
                    <span>Cell details: </span>
                    <span style="color: brown;">{{item.detail_name}}</span>
                </div>
            </celldetail>
        </column>
        <column data-g-width="100" data-g-views="mobile,desktop" data-g-member ="key" data-g-sort-member="key" data-g-group-member ="key" data-g-filter-member="key">
            <header>Key</header>
            <cell>
                <span style="color: red;">{{item.key}}</span>
                <a href ng-click="showDetailForCell(1); $event.stopPropagation();">[]</a> @*data-bind="click: function () { showDetailForCell(1); }"*@
            </cell>
            <celldetail>
                <div>
                    <span>Cell details: </span>
                    <span style="color: brown;">{{item.detail_key}}</span>
                </div>
            </celldetail>
        </column>

        <groupheader>
            <div>
                <span style="color: green;">{{item}}</span>
            </div>
        </groupheader>

        <footer>
            <div>
                TotalCount: <span>{{totalCount}}</span>.
                SelectedItem: <span >{{selectedItem}}</span>. 
                CurrentPage: <span>{{currentPage}}</span>. 
                TotalPages: <span>{{totalPages}}</span>.
            </div>
        </footer>

        <mobile>
            <div>
                <span>Name: </span>
                <span style="color: red;">{{item.name}}</span>
                <a href ng-click="showDetailForCell(0); $event.stopPropagation();">[]</a>
                <br />
                <span>Key: </span>
                <span style="color: red;">{{item.key}}</span>
                <a href ng-click="showDetailForCell(1); $event.stopPropagation();">[]</a>
            </div>       
        </mobile>

        <filterpopup>
            <select>
                <option value="1">Equals</option>
                <option value="2">Not Equals</option>
            </select>
            <input  style="width:150px" value=""><br>
            <input type="button" value ="Apply" style="width:70px" ng-click="onApply()"/>
            <input type="button" value ="Clear" style="width:70px" ng-click="onClear()">
            <input type="button" value ="Close" style="width:70px" ng-click="onClose()">
        </filterpopup>

        <details>
            <div>
                <span>Row details: </span>
                <span style="color: blue;">{{item.detail}}</span>
            </div>
        </details>
    </script>
</t-grid>
    </div>
</div>

<script type="text/javascript">

    var SimpleItemsProviderAngular = (function () {
        var items = [
                { name: "a1", key: "a4", key2: "a4", detail: "details item a1 a4", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a1", key: "a3", key2: "b4", detail: "details item b1 c3", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c1", key: "b3", key2: "a2", detail: "details item c1 b3", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a1", key: "a3", key2: "a3", detail: "details item a2 a3", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "b2", key: "c2", key2: "a1", detail: "details item b2 c2", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c1", key: "b2", key2: "b4", detail: "details item c2 b2", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a4", key: "a2", key2: "b2", detail: "details item a3 a2", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a4", key: "a1", key2: "c2", detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c1", key: "b2", key2: "b4", detail: "details item c2 b2", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a4", key: "a2", key2: "b2", detail: "details item a3 a2", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a4", key: "a1", key2: "c2", detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c1", key: "b2", key2: "b4", detail: "details item c2 b2", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a4", key: "a2", key2: "b2", detail: "details item a3 a2", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a4", key: "a1", key2: "c2", detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c1", key: "b2", key2: "b4", detail: "details item c2 b2", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a4", key: "a2", key2: "b2", detail: "details item a3 a2", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a4", key: "a1", key2: "c2", detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c1", key: "b2", key2: "b4", detail: "details item c2 b2", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a4", key: "a2", key2: "b2", detail: "details item a3 a2", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a4", key: "a1", key2: "c2", detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c1", key: "b2", key2: "b4", detail: "details item c2 b2", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a4", key: "a2", key2: "b2", detail: "details item a3 a2", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a4", key: "a1", key2: "c2", detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c1", key: "b2", key2: "b4", detail: "details item c2 b2", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a4", key: "a2", key2: "b2", detail: "details item a3 a2", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a4", key: "a1", key2: "c2", detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "b3", key: "c1", key2: "b1", detail: "details item b3 c1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "c3", key: "b1", key2: "c4", detail: "details item c3 b1", detail_name: "details item Name", detail_key: "details item Key" },
                { name: "a4", key: "a1", key2: "c2", detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key" }
        ];

        function SimpleItemsProviderAngular() {
            for (var i = 0; i < items.length; i++) {
                items[i].key = i;
                items[i].detail = items[i].detail +" "+i;
            }

            for (var i = 0; i < 100; i++) {
                items.push({ name: "a4", key: "a1", key2: i, detail: "details item a4 a1", detail_name: "details item Name", detail_key: "details item Key", details: { a: "test", b: 2 } });
            }
        }

        SimpleItemsProviderAngular.prototype.getItems = function (firstItem, itemsNumber, sortDescriptors, filterDescriptors, collapsedFilterDescriptors, callback) {
            var oldItems = new Array();
            oldItems = oldItems.concat(items);
            sort(sortDescriptors);
            setTimeout(function () {
                callback(onFiltering(filterDescriptors, collapsedFilterDescriptors).slice(firstItem, firstItem + itemsNumber), firstItem, itemsNumber);
                items = new Array();
                items = items.concat(oldItems);
            }, 200);
        };
        
        SimpleItemsProviderAngular.prototype.getTotalItemsCount = function (filterDescriptors, callback) {
            callback(onFiltering(filterDescriptors).length);
        };

        function sort(sortDescriptor) {
            if (sortDescriptor != null && sortDescriptor.length > 0 && isNotNull(sortDescriptor[0].path)) {
                items.sort(function (a, b) {
                    return sortingRecursive(a, b, sortDescriptor, 0);
                });
            }
        };

        function sortingRecursive(a, b, sortDescriptor, i) {
                if (i != sortDescriptor.length - 1) {
                    if (getMemberValue(a, sortDescriptor[i].path) > getMemberValue(b, sortDescriptor[i].path))
                        return sortingOrder(sortDescriptor[i]);
                    if (getMemberValue(b, sortDescriptor[i].path) > getMemberValue(a, sortDescriptor[i].path))
                        return sortingOrderDesc(sortDescriptor[i]);
                    return sortingRecursive(a, b, sortDescriptor, i + 1)
                } else {
                    return getMemberValue(a, sortDescriptor[i].path) > getMemberValue(b, sortDescriptor[i].path) ? sortingOrder(sortDescriptor[i]) : sortingOrderDesc(sortDescriptor[i]);
                }
        }

        function sortingOrder(sortDescriptor) {
            return sortDescriptor.asc ? 1 : -1;
        }

        function sortingOrderDesc(sortDescriptor) {
            return sortDescriptor.asc ? -1 : 1;
        }

        function onFiltering(filterDescriptors, collapsedFilterDescriptors) {
            if ((filterDescriptors == null || filterDescriptors.length == 0) && (collapsedFilterDescriptors == null || collapsedFilterDescriptors.length == 0)) {
                return items;
            }

            if (collapsedFilterDescriptors == undefined) {
                collapsedFilterDescriptors = [];
            }

            var isCollapsedItem = [];
            for (var c = 0; c < collapsedFilterDescriptors.length; c++) {
                isCollapsedItem.push(false);
            }

            var filterdItems = [];
            for (var j = 0; j < items.length; j++) {
                // filtering common filters
                var isFiltered = 0;
                for (var i = 0; i < filterDescriptors.length; i++) {
                    if (filter(items[j], filterDescriptors[i])) {
                        isFiltered++;
                    }
                }

                // filtering collapsed filter
                var isCollapsedFiltered = false;
                var numberfilter = -1;
                for (var i = 0; i < collapsedFilterDescriptors.length; i++) {
                    if (filter(items[j], collapsedFilterDescriptors[i])) {
                        isCollapsedFiltered = true;
                        numberfilter = i;
                        i = collapsedFilterDescriptors.length;
                    }
                }

                //add fake item for creating collapsing group
                if (isFiltered == 0 && !isCollapsedFiltered) {
                    filterdItems.push(items[j]);
                } else {
                    if (isFiltered == 0) {
                        if (isCollapsedFiltered && !isCollapsedItem[numberfilter]) {
                            var fakeItem = {};
                            fakeItem["isFakeItem"] = true;
                            fakeItem[collapsedFilterDescriptors[numberfilter].path] = collapsedFilterDescriptors[numberfilter].value;
                            for (var i = 0; i < collapsedFilterDescriptors[numberfilter].children.length; i++) {
                                fakeItem[collapsedFilterDescriptors[numberfilter].children[i].path] = collapsedFilterDescriptors[numberfilter].children[i].value;
                            }
                            filterdItems.push(fakeItem);
                            isCollapsedItem[numberfilter] = true;
                        }
                    }
                }
            }

            return filterdItems;
        }

        function filter(item, filterDescriptors) {
            if (!isFiltering(item[filterDescriptors.path], filterDescriptors.value, filterDescriptors.condition)) {
                if (filterDescriptors.children.length == 0) {
                    return true;
                } else {
                    var result = 0
                    for (var i = 0; i < filterDescriptors.children.length; i++) {
                        if (!isFiltering(item[filterDescriptors.children[i].path], filterDescriptors.children[i].value, filterDescriptors.children[i].condition)) {
                            result++;
                        }
                    }
                    if (result == filterDescriptors.children.length) {
                        return true;
                    }
                }
            }

            return false;
        }

        function isFiltering(item, value, condition) {
            // on false push to filtered items
            switch (condition) {
                case 0://equal
                    return (item == value);
                case 1://not equal
                    return (item != value);
            }
            return false;
        }

        return SimpleItemsProviderAngular;
    })();

    var TGrid = angular.module('TGrid', [])
        .controller("ctrl", function ctrl($scope) {
            $scope.dataProvider = new SimpleItemsProviderAngular();
        })
        .directive('tGrid', TGrid.Angular.Directive);

    $(function () {
    })
</script>

<!--
<h2>Angular sample of result</h2>
<div>
    <div ng-app>
        <table ng-controller="ctrl" border="1">
            <thead>
                <tr>
                    <th ng-repeat="item in header"> {{item}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                  <td>
                      {{item.Name}}
                  </td>
                  <td>
                      {{item.Key}}
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    

<script type="text/javascript">
    'use strict';
    function ctrl($scope) {
        $scope.header = ["name", "key"]
        $scope.items = [
                { "Name": "First ", "Key": "Last" },
                { "Name": "Second", "Key": "Last 1" }];
    }
</script>
-->
