.tgrid-table {
    border: 1px solid rgb(122,188,255);
    border-collapse: collapse;
}

.tgrid-table thead tr th {
    border-bottom: 1px solid rgb(122,188,255);
    border-left: 1px solid rgb(122,188,255);
    
    margin: 1px;

    background: rgb(184,225,252); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,225,252,1)), color-stop(10%,rgba(169,210,243,1)), color-stop(25%,rgba(144,186,228,1)), color-stop(37%,rgba(144,188,234,1)), color-stop(50%,rgba(144,191,240,1)), color-stop(51%,rgba(107,168,229,1)), color-stop(83%,rgba(162,218,245,1)), color-stop(100%,rgba(189,243,253,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 ); /* IE6-9 */

}

.tgrid-table tbody tr td {
    padding: 2px;
    border-bottom: 1px solid rgb(122,188,255);
    border-left: 1px solid rgb(122,188,255);
    background-color: white;
}

.tgird-pagination {
    margin: 0px;
    background-color: whitesmoke;
    text-align: center;
}

.tgird-page-current,
.tgird-page-number {
    margin-left: 1px;
    margin-right: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid gray;
    background-color: lightgray;
    display: inline-block;
}

.tgird-page-number {
    color: blue;
    cursor: pointer;
}

.tgird-page-current {
    color: gray;
    cursor: default;
}

/*Arrows*/
.arrow-down {
    display:inline;
    position: relative;
    top: 14px;
    left: 5px;
    /*width: 8px;
    height: 8px;*/
    border-top: 8px solid #a6a6a6;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.arrow-up {
    display:inline;
    position: relative;
    bottom: 14px;
    left: 5px;
    /*width: 8px;
    height: 8px;*/
    border-right: 8px solid transparent;
    border-bottom: 8px solid #a6a6a6;
    border-left: 8px solid transparent;
}
