.tgrid-table {
    border: 1px solid rgb(122,188,255);
    border-collapse: collapse;
    width: 100%;

    background: rgb(222,239,255);
}

.tgrid-table thead tr th {
    border-left: 1px solid rgb(122,188,255);
    border-right: 1px solid rgb(122,188,255);
    cursor: pointer;
    margin: 1px;

    background: rgb(222,239,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,rgba(152,190,222,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */

}

.tgrid-table tbody tr td {
    padding: 2px;
    border-bottom: 1px solid rgb(122,188,255);
    border-left: 1px solid rgb(122,188,255);
    background-color: white;
}

.tgrid-footer {
    border-left: 1px solid rgb(122,188,255);
    border-right: 1px solid rgb(122,188,255);
    border-bottom: 1px solid rgb(122,188,255);
    padding: 2px;
    background-color: #f5f8fb;
}

.tgird-pagination {
    margin: 0px;
    text-align: center;
}

.tgird-page-current,
.tgird-page-number {
    margin-left: 1px;
    margin-right: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid gray;
    background: rgb(222, 232, 255);
    display: inline-block;
}

.tgird-page-number {
    color: blue;
    cursor: pointer;
}

.tgird-page-current {
    color: gray;
    cursor: default;
}

.tgrid-mobile-container {

}

.tgrid-mobile-row {
    border-left: 1px solid rgb(122,188,255);
    border-right: 1px solid rgb(122,188,255);
    border-bottom: 1px solid rgb(122,188,255);
}


/*Arrows*/
.tgrid-arrow-down {
    display:inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/arrow_up.png) no-repeat;
}

.tgrid-arrow-up {
    display:inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/arrow_down.png) no-repeat;
}

/* Mobile */
@media  (max-width: 480px) {
    .desktop{
        display: none;
    }
}

/* Desktop */
@media  (min-width: 481px) {
    .mobile{
        display: none;
    }
}
