
/*Arrows*/
.arrow-down {
    display:inline;
    position: relative;
    top: 14px;
    left: 5px;
    /*width: 8px;
    height: 8px;*/
    border-top: 8px solid #a6a6a6;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.arrow-up {
    display:inline;
    position: relative;
    bottom: 14px;
    left: 5px;
    /*width: 8px;
    height: 8px;*/
    border-right: 8px solid transparent;
    border-bottom: 8px solid #a6a6a6;
    border-left: 8px solid transparent;
}
