.tgrid-root {
    position: relative;
}

.tgrid-table{
    //border-bottom: 1px solid rgb(122,188,255);
}

.tgrid-table, 
.group-by-container {
    border-collapse: collapse;
    width: 100%;
    background: rgb(222,239,255);
}

    .tgrid-table thead tr th, 
    .tgrid-mobile-header, 
    .condition-group-by {
        border-left: 1px solid rgb(122,188,255);
        border-right: 1px solid rgb(122,188,255);
        cursor: pointer;
        margin: 0px;
        background: rgb(222,239,255); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,rgba(152,190,222,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */
    }

.tgrid-mobile-header {
    margin: 0px;
    border-top: 1px solid rgb(122,188,255);
    border-left: 1px solid rgb(122,188,255);
    border-right: 1px solid rgb(122,188,255);
}

.tgrid-header-cell-container{
    margin: 0px;
    display:inline-block;
    width: 100%;
    height: 22px;
    position: relative;
}

.tgrid-header-cell-content {
    margin: 0px;
    display:inline-block;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.tgrid-header-cell-buttons {
    margin: 0px;
    display:inline-block;
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    left:0;
}

.tgrid-header-column-resize{
    right: -4px;
    width: 4px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    cursor: col-resize;
}

.tgrid-table tbody tr td, 
.tgrid-table-group-header {
    border-top: 1px solid rgb(122,188,255);
    border-left: 1px solid rgb(122,188,255);
    background-color: white;
}

.tgrid-table-group-header {
    border-bottom: none !important;
    border-left: none !important;
    background-color: rgb(234, 244, 254) !important;
}

.tgrid-table-indent-cell {
    border-top: 0px solid rgb(122,188,255) !important;
    border-left: 0px solid rgb(122,188,255) !important;
    border-right: 1px solid rgb(122,188,255) !important;
    background-color: rgb(234, 244, 254) !important;
}

.tgrid-mobile-indent-div, .tgrid-table-indent-cell{
    width: 20px;
}

.tgrid-table tbody tr.selected td {
    background-color: rgba(152,190,222,1);
}

.tgrid-mobile-row, .tgrid-mobile-details, .tgrid-mobile-group-header {
    border-left: 1px solid rgb(122,188,255);
    border-right: 1px solid rgb(122,188,255);
    border-bottom: 1px solid rgb(122,188,255);
}

.tgrid-mobile-container .selected {
    background-color: rgba(152,190,222,1);
}

.tgrid-tablebodycontainer {
    //border: 1px solid rgb(122,188,255);
    overflow-y: scroll;
    overflow-x: auto;
    height: 420px;
}

.tgrid-tableheadercontainer {
    border-top: 1px solid rgb(122,188,255);
}

.tgrid-footer {
    border-left: 1px solid rgb(122,188,255);
    border-right: 1px solid rgb(122,188,255);
    border-bottom: 1px solid rgb(122,188,255);
    padding: 2px;
    background-color: #f5f8fb;
    height: auto;
}

.tgird-pagination {
    margin: 0px;
    text-align: center;
}

.tgrid-group-row {
}

.tgrid-mobile-group {
    border-left: 1px solid rgb(122,188,255);
    border-right: 1px solid rgb(122,188,255);
    border-bottom: 1px solid rgb(122,188,255);
}

.tgird-page-current,
.tgird-page-number {
    margin-left: 1px;
    margin-right: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid gray;
    background: rgb(222, 232, 255);
    display: inline-block;
}

.tgird-page-number {
    color: blue;
    cursor: pointer;
}

.tgird-page-current {
    color: gray;
    cursor: default;
}

.tgrid-mobile-container {
}

.tgrid-inline-block {
    display: inline-block;
}

/*Arrows*/
.tgrid-arrow-down {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/arrow_down.png) no-repeat;
    position: absolute;
    bottom: 0px;
    right: 20px;
}

.tgrid-arrow-up {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/arrow_up.png) no-repeat;
    position: absolute;
    top: 0px;
    right: 20px;
}

.tgrid-buisy-indicator {
    display: inline-block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(122, 188, 255, 0.44);
}

.tgrid-scroll {
    display: inline-block;
    position: absolute;
    right: 1px;
    top: 30px;
    bottom: 36px;
    width:32px;
    overflow: scroll;
}

.tgrid-scroll div {
    display: inline-block;
}

.tgrid-mobile-indent-div, .tgrid-mobile-div{
    display:inline-table;
}

/* Mobile */
@media (max-width: 480px) {
    .desktop {
        display: none;
    }
}

/* Desktop */
@media (min-width: 481px) {
    .mobile {
        display: none;
    }
}

.condition-group-by {
    min-height: 15px;
    min-width: 25px;
    float:left;
    border: 1px solid rgb(122,188,255);
    display:none;    
}

.delete-condition-group-by {   
}

.group-by-container {    
    display:none;
    width: auto;
    height: 33px;    
}

.list-button-container {
    display: inline-block;
}

.button-group-by {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url(../images/buttonBlue.jpg) no-repeat;
    background-size:contain;
    margin-top: 2px;
}

.group-by-ul {
    position:absolute;
    display: none;
    list-style-type: none;
    background: #fff;
    margin: 0; 
   padding: 5px 0;
   float: left;
   z-index:1;
      
}

.group-by-ul>li {
    display:none;
    margin: 0;
    padding: 3px 20px;
    clear: both;
    color: #222;
}

.group-by-ul > li:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;
}

thead>tr> .tgrid-table-indent-cell {
    display:none;
}

.tgrid-filter-popup {
    position: absolute;
    background: white;
    display: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,rgba(152,190,222,1)));
}

.tgrid-display-none{
    display: none;
}

.tgrid-filter-button{
    background: url(../images/filter.png) no-repeat;
    display: inline-block;
    text-align: right;    
    height: 16px;
    width: 16px;
    position: absolute;
    top: 2px;
    right: 2px;
}

.tgrid-applied-filter-button{
    background: url(../images/applied_filter.png) no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 2px;
    right: 2px;
}

