<!-- Start the highlighter. -->

<pre class="brush: html">
   <div id="test-knockout" data-bind="tgrid: { provider: itemsProvider }">
        <script type="text/html">
            <column data-g-member="Name">
                <cell>
                    <span style="color: red;" data-bind="text: item.Name"></span>                
                </cell>
            </column>
            <column data-g-member="Surname"> 
                <cell>
                    <span data-bind="text: item.Surname"></span>
                </cell>
            </column>
            <column data-g-member="Age">            
                <cell>
                    <span style="color: red;" data-bind="text: item.Age"></span>
                </cell>
            </column>
        </script>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>