 <!-- Start the highlighter. -->

<pre class="brush: html">
    <div id="test-knockout" data-bind="tgrid: { provider: itemsProvider }">
        <script type="text/html">
            <column data-g-member="Name">
                <cell>
                    <span style="color: #b6424e;" data-bind="text: item.Name"></span>                
                </cell>
            </column>
            <column data-g-member="Surname"> 
                <cell>
                    <span data-bind="text: item.Surname"></span>
                </cell>
            </column>
            <column data-g-member="Age">            
                <cell>
                    <span style="color: #b6424e;" data-bind="text: item.Age"></span>
                </cell>
            </column>
            <mobile>
                <div>
                    <span>First name: </span>
                    <span style="font-weight:700;" data-bind="text: item.Name"></span>
                    <br />
                    <span>Last name: </span>
                    <span style="color:red;" data-bind="text: item.Surname"></span>
                    <br />
                    <span style="font-style: italic;">Age: </span>
                    <span style="font-style: italic;" data-bind="text: item.Age"></span>
                </div>
            </mobile>
        </script>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>