<!-- Start the highlighter. -->

<pre class="brush: html">
     <div id="test-knockout" data-bind="tgrid: { provider: itemsProvider, showDetailsOnSelection: false }">
        <script type="text/html">
            <column data-g-width="150" data-g-member="Name">            
                <cell>
                    <span style="display: inline-block;" data-bind="text: item.Name"></span>
                    <span data-bind="event: { mouseover: toggleDetailsForCell(0) }, eventBubble: false">...</span>
                </cell>
                <celldetail>
                    <div>
                        <div>This is a sample of table cell details:  </div>
                        <div style="color: #444;" data-bind="text: item.detail_Name"></div>
                    </div>
                </celldetail>
            </column>
            <column data-g-width="180" data-g-member="Surname">
                <cell>
                    <span style="display: inline-block;" data-bind="text: item.Surname"></span>
                    <div class ="tgrid-custom-details-button"  style="float:right" data-bind=" click: function () { toggleDetailsForCell(1) }, clickBubble: false">Toggle Details</div>
                </cell>
                <celldetail>
                    <div>
                        <div>This is a sample of table cell details:  </div>
                        <div style="color: #444;" data-bind="text: item.detail_Surname"></div>
                    </div>
                </celldetail>
            </column>
            <column data-g-width="150" data-g-member="Age">
            </column>
            <column data-g-width="116">
                <header>
                    <span>Details for row</span>
                </header>
                    <cell>
                    <div class ="tgrid-custom-details-button" style="color: #444; width: 50px;" data-bind=" click: function () { openDetailsForCell(-1) }, clickBubble: false">Open</div>
                    <div class ="tgrid-custom-details-button" style="color: #444; width: 50px;" data-bind=" click: function () { closeDetailsForCell(-1) }, clickBubble: false">Close</div>
                </cell>
            </column>
            <details>
                <div>
                    <div>This is a sample of table row details:  </div>
                    <div style="color: #444;" data-bind="text: item.detail"></div>
                    <div><span>First Name : </span><span style="color: #444;" data-bind="text: item.Name"></span></div>
                    <div><span>Last Name : </span><span style="color: #444;" data-bind="text: item.Surname"></span></div>
                    <div><span>Age : </span><span style="color: #444;" data-bind="text: item.Age"></span></div>
                </div>
            </details>
        </script>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>