<!-- Start the highlighter. -->

<pre class="brush: html">
    <div id="test-knockout" data-bind="tgrid: { provider: itemsProvider, selectionMode: 'none' }">
        <script type="text/html">
            <column data-g-member="Name">
                <cell>
                    <span style="color: green;" data-bind="text: item.Name, event: { click: function(){ model.toggleActive(item.Name) } }, css: { hidden: model.editingItem() == item.Name }"></span>                                     
                    <input class="tgrid-edit-input hidden" style="color: green;" data-bind="value: item.Name, css: { visible: model.editingItem() == item.Name }"></input>                    
                </cell>
            </column>
            <column data-g-member="Surname"> 
                <cell>
                    <span data-bind="text: item.Surname, event: { click: function() { model.toggleActive(item.Surname) } }, css: { hidden: model.editingItem() == item.Surname }"></span>
                    <input class="tgrid-edit-input hidden" data-bind="value: item.Surname, css: { visible: model.editingItem() == item.Surname }"></input>
                </cell>
            </column>
            <column data-g-member="Age">            
                <cell>
                    <span style="color: #b6424e;" data-bind="text: item.Age, event: { click: function() { model.toggleActive(item.Age) } }, css: { hidden: model.editingItem() == item.Age }"></span>
                    <input class="tgrid-edit-input hidden" style="color: #b6424e;" data-bind="value: item.Age, css: { visible: model.editingItem() == item.Age }"></input>
                </cell>
            </column>
        </script>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>
