<!-- Start the highlighter. -->

<pre class="brush: html">
   <div id="test-knockout" data-bind="tgrid: { provider: itemsProvider, enableFiltering: true }">
        <script type="text/html">
            <column data-g-member="Name" data-g-filter-member="Name">
            </column>
            <column data-g-member="Surname" data-g-filter-member="Surname">
            </column>
            <column data-g-member="Age" data-g-filter-member="Age">
            </column>
        </script>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>

