<!-- Start the highlighter. -->

<pre class="brush: html">
    <!-- 
        Demo use of getItemsAndTotalCount to reduce server calls, replacing getItems & getTotalItemsCount.
        Check the "Server call count" below the grid.
        Also demonstrate itemProvider return of Items is not required to remove collapsed group items.
    -->
    <div data-bind="tgrid: { provider: itemsProvider, enableFiltering: true, enableSorting: true, enableGrouping: true, enableCollapsing: true }">
        <script type="text/html">
            <column data-g-member="Name">
            </column>
            <column data-g-member="Surname">
            </column>
            <column data-g-member="Age">
            </column>
            <footer>
                <span style="float:right; position:absolute; right:3px">
                    Filtered count: <span data-bind="text: totalCount"></span> &nbsp;
                </span>
            </footer>
        </script>
    </div>
    <div>
        Server call count: <span data-bind="text: serverCallCount"></span>
    </div>

</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>