@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Grouping with virtualization knockout</title>
        <link rel="stylesheet" type="text/css" href="~/Content/Grid.css">
        <link rel="stylesheet" type="text/css" href="~/Content/iframe.css">

        <script src="~/Scripts/iframe/jquery-1.11.0.min.js"></script>
        <script src="~/Scripts/iframe/knockout-3.0.0.js"></script>

        <script src="~/Scripts/iframe/tgrid-array-items-provider-min.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/tgrid-min.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/tgrid-knockout-min.js" type="text/javascript"></script>
        <style>
            .tgrid-tableheadercontainer {
                border-bottom: none;
            }
        </style>
    </head>
    <body>
       <div>
            <div id="test-knockout" data-bind="tgrid: { provider: itemsProvider, enableGrouping: true, enableVirtualScroll: true, enableCollapsing: true }">
                <script type="text/html">
                    <column data-g-member="Name"  data-g-group-member="Name"> 
                    </column>
                    <column data-g-member="Surname"  data-g-group-member="Surname">
                    </column>
                    <column data-g-member="Age" data-g-group-member="Age">
                    </column>
                </script>           
            </div>
           <script type="text/javascript">
		   	var items = [];

		   	var getRandomInt = function getRandomInt(min, max) {
		   		return Math.floor(Math.random() * (max - min + 1) + min);
		   	}

		   	var generateRandomInt = getRandomInt;
		   	(function (generateRandomInt, items) {
		   		var names = ['Angela', 'Bella', 'Chris', 'Donna', 'Elizabeth', 'Fiona', 'George', 'Henry', 'Inga', 'Julia', 'Ken', 'Laurence', "John", "Sharilyn", "Matthew", "Jasmine", "Ashley", "Christiana",
				"Cathrine", "Alison", "Nicole", "Theron", "Robert", "Larry", "Tina", "Nelson", "Ted", "William"];
		   		var surnames = ['Smith', 'Jones', 'Taylor', 'Williams', 'Brown', 'Davies', 'Evans', 'Wilson', 'Thomas', 'Roberts', 'Johnson', "Figgins", "Seidel", "Holz", "Newlin", "Swanson", "Ronan", "Lewis",
					'Carter', 'Collins', "Thrush", 'Murphy', 'Turner', 'Ham'];
		   		var path = document.getElementById("url") != null ? document.getElementById("url").value : "/";
		   		for (var i = 0; i < 100; i++) {
		   			items.push({
		   				Name: names[generateRandomInt(0, names.length - 1)],
		   				Surname: surnames[generateRandomInt(0, surnames.length - 1)],
		   				Age: generateRandomInt(20, 24)						
		   			});
		   		}
		   	})(generateRandomInt, items);

               function vm() {
                   var self = this;
                   self.itemsProvider = new TesserisPro.TGrid.ArrayItemsProvider(items);
               };

               $(function () {
                   ko.applyBindings(new vm());
               });
            </script>
        </div>
    </body>
</html>
