<!-- Start the highlighter. -->

<pre class="brush: html">
     <div id="test-knockout" data-bind="tgrid: { provider: itemsProvider, enableGrouping: true }">
        <script type="text/html">
            <column data-g-width="150" data-g-views="mobile,desktop" data-g-member="Name" data-g-group-member="Name"> 
            </column>
            <column data-g-width="150" data-g-views="mobile,desktop" data-g-member="Surname"  data-g-group-member="Surname">
            </column>
            <column data-g-width="100" data-g-views="mobile,desktop" data-g-member="Age" data-g-group-member="Age">
        </script>           
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>