<!-- Start the highlighter. -->

<pre class="brush: html">
     <div id="test-knockout" data-bind="tgrid: { provider: itemsProvider }">
        <script type="text/html">
            <column data-g-member="Name">
                <header>
                    <span data-bind="text: nameColumnTitle"></span>
                </header>
            </column>
            <column  data-g-member="Surname">
                <header>Last Name</header>
            </column>
            <column data-g-member="Age">
                <header>
                    <span style="color: green;">Age</span>
                </header>
            </column>
        </script>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>