<!-- Start the highlighter. -->

<pre class="brush: html">
    <div id="test-knockout" data-bind="tgrid: { provider: itemsProvider, enablePaging: true, pageSize: 7, pageSlide: 3, enableGrouping:true }">
        <script type="text/html">
            <column data-g-member="Name">
            </column>
            <column data-g-member="Surname"> 
            </column>
            <column data-g-member="Age"> 
            </column>
        </script>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>
