<!-- Start the highlighter. -->

<pre class="brush: html">
    <div id="test-knockout" data-bind="tgrid: { provider: itemsProvider, enablePaging: true, pageSize: 6, pageSlide: 5 }">
        <script type="text/html">
            <column data-g-width="55" data-g-views="mobile,desktop"  data-g-member="Number">
            </column>
            <column data-g-width="100" data-g-views="mobile,desktop" data-g-member="Picture">
                <cell> <img width="100px" height='60px' style: "" data-bind="attr: { src: item.Picture }" /></cell>
            </column>
            <column data-g-width="70" data-g-views="mobile,desktop" data-g-member="Brand">
            </column>
            <column data-g-width="120" data-g-views="mobile,desktop" data-g-member="Type">
            </column>
            <column data-g-width="100" data-g-views="mobile,desktop" data-g-member="EnginePower">
                <header>
                    <span>Engine power</span>
                </header>
                <cell>
                    <span data-bind="text: item.EnginePower"></span> HP
                </cell>
            </column>
            <column data-g-width="60" data-g-views="mobile,desktop" data-g-member="Year">
                <header>
                    <span>1st Reg.</span>
                </header>
            </column>
            <column data-g-width="120" data-g-views="mobile,desktop" data-g-member="Cabin">
            </column>
        </script>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>