@{
    Layout = null;
} 

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Simple grid without paging knockout</title>
        <link rel="stylesheet" type="text/css" href="~/Content/Grid.css">
        <link rel="stylesheet" type="text/css" href="~/Content/iframe.css">
   
        <script src="~/Scripts/iframe/jquery-1.11.0.min.js"></script>
		 <script src="~/Scripts/iframe/knockout-3.0.0.js"></script>
       
		<script src="~/Scripts/iframe/BaseHtmlProvider.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/ItemViewModel.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/IItemProvider.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/IHtmlProvider.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/IFooterViewModel.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/IFilterPopupViewModel.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/FilterDescriptor.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/GroupHeaderDescriptor.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/Options.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/TGrid.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/ArrayItemsProvider.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/KnockoutFilterPopupViewModel.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/KnockoutFooterViewModel.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/KnockoutHtmlProvider.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/TGridBinding.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/SortDescriptor.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/utils.js" type="text/javascript"></script>

		@*<script src="~/Scripts/iframe/tgrid-debug.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/tgrid-array-items-provider-debug.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/tgrid-knockout-debug.js" type="text/javascript"></script>*@
		
    </head>
    <body>    
        <div>
            <div id="test-knockout" data-bind="tgrid: { provider: itemsProvider, enableSorting: true}">
                <script type="text/html">
                    <column data-g-member="Name"> 
                    </column>
                    <column data-g-member="Surname">
                    </column>
                    <column data-g-member="Age">
                    </column>
                </script>
            </div>
            <script type="text/javascript">
                var items = [
                        { Name: "John", Surname: "Figgins", Age: "20", detail: "Person details: John Figgins, 20 years, accounter", detail_Name: "First name:  John", detail_Surname: "Last name: Figgins" },
                        { Name: "Sharilyn", Surname: "Ham", Age: "52", detail: "Person details: Sharilyn Ham, 52 years, sales manager", detail_Name: "First name: Sharilyn", detail_Surname: "Last name: Ham" },
                        { Name: "Matthew", Surname: "Holz", Age: "42", detail: "Person details: Matthew Holz, 42 years, loan officer", detail_Name: "First name: Matthew", detail_Surname: "Last name: Holz" },
                        { Name: "Jasmine", Surname: "Seidel", Age: "32", detail: "Person details: Jasmine Seidel, 32 years, sales manager", detail_Name: "First name: Jasmine", detail_Surname: "Last name: Seidel" },
                        { Name: "Ashley", Surname: "Ronan", Age: "33", detail: "Person details: Ashley Ronan, 33 years, cashier", detail_Name: "First name: Ashley", detail_Surname: "Last name: Ronan" },
						{ Name: "Christiana ", Surname: "Gardella", Age: "35", detail: "Person details: item Christiana Gardella, 35 years, cashier", detail_Name: "First name: Christiana", detail_Surname: "Last name: Gardella" },
						{ Name: "Cathrine", Surname: "Swanson", Age: "30", detail: "Person details: Cathrine Swanson, 30 years, accounter", detail_Name: "First name: Cathrine", detail_Surname: "Last name: Swanson" },
						{ Name: "Alison", Surname: "Gardella", Age: "25", detail: "Person details: Alison Gardella, 25 years, sales manager", detail_Name: "First name: Alison", detail_Surname: "Last name: Gardella" },
						{ Name: "Ruth", Surname: "Gardella", Age: "20", detail: "Person details: Ruth Gardella, 20 years, retailer", detail_Name: "First name: Ruth", detail_Surname: "Last name: Gardella" },
						{ Name: "Samantha", Surname: "Swanson", Age: "25", detail: "Person details: Samantha Swanson, 25 years, HR officer", detail_Name: "First name: Samantha ", detail_Surname: "Last name: Swanson" },
						{ Name: "Alison", Surname: "Arboleda", Age: "32", detail: "Person details:Alison Arboleda, 32 years,  sales manager", detail_Name: "First name: Alison", detail_Surname: "Last name: Arboleda" }
					 ];

                function vm() {
                    var self = this;
                    self.itemsProvider = new TesserisPro.TGrid.ArrayItemsProvider(items);
                    self.addItems = function (options) {
                    	self.itemsProvider.addArray(items);
                    };
                };

                $(function () {
                    ko.applyBindings(new vm());
                });
            </script>
        </div>
    </body>
</html>
