<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs.TypeScript.DefinitelyTyped" version="0.4.2" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.3.0" targetFramework="net45" />
  <package id="knockout.mapping.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net45" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.3.1" targetFramework="net45" />
  <package id="knockoutjs" version="2.3.0" targetFramework="net45" />
  <package id="Ltc.MSBuild.TS0911WE3.targets" version="1.0.0" targetFramework="net45" />
</packages>