@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/utils")
@Styles.Render("~/Content/gridcss")

@*<div class="dp-grid-wrapper"> 
    <div class="dp-mobile-grid-sorting">
        <div class="dp-mobile-grid-sorting-sort" data-bind="MobileGridSorting: gridConfig">
        </div>
    </div>
    <div class="dp-grid-heading">
        <div class="dp-grid-column-header" data-bind="DPHeader: gridConfig">
        </div>
    </div>
    <div class="dp-grid-content" data-bind="foreach: gridConfig.sortedData">
        <div class="dp-grid-row" data-bind="DPContent: { columns: $parent.gridConfig.columns, data: $data, mobileHeader: $parent.gridConfig.mobileHeader }">
        </div>
    </div>
    <div class="dp-grid-footer">
        <div class="dp-grid-footer-context" data-bind="DPFooter: gridConfig">
        </div>
    </div>
</div>*@

<div data-bind="grid: items" id="test">
    <script type="text/html">
        <column data-g-width="150" data-g-views="mobile,desktop">
            <header>
                <span>Name</span>
            </header>
            <cell>
                <span data-bind="html: name"></span>
            </cell>
        </column>
        <column data-g-width="100" data-g-views="mobile,desktop">
            <header>Type</header>
            <cell data-bind="html: type" />
        </column>
      
         <mobile>
            <div>

            </div>
        </mobile>

        <details>

        </details>


    </script>

</div>
<script src="~/Grid/Scripts/TGrid.js"></script>
<script src="~/Grid/Scripts/Options.js"></script>
<script type="text/javascript">
    $(function () {
        var test = $("#test")
        var option = new TesserisPro.TGrid.Options(test);
        var grid = new TesserisPro.TGrid.Grid(test, option);
    });

</script>
@Scripts.Render("~/bundles/gridjs")

