@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/utils")
@Styles.Render("~/Content/gridcss")

<div class="dp-grid-wrapper"> 
    <div class="dp-mobile-grid-sorting">
        <div class="dp-mobile-grid-sorting-sort" data-bind="MobileGridSorting: gridConfig">
        </div>
    </div>
    <div class="dp-grid-heading">
        <div class="dp-grid-column-header" data-bind="DPHeader: gridConfig">
        </div>
    </div>
    <div class="dp-grid-content" data-bind="foreach: gridConfig.sortedData">
        <div class="dp-grid-row" data-bind="DPContent: { columns: $parent.gridConfig.columns, data: $data, mobileHeader: $parent.gridConfig.mobileHeader }">
        </div>
    </div>
    <div class="dp-grid-footer">
        <div class="dp-grid-footer-context" data-bind="DPFooter: gridConfig">
        </div>
    </div>
</div>

<div data-bind="grid: items">
    <script type="text/html">
        <column data-g-width="10" data-g-views="mobile,descktop">
            <header>
                <span>Name</span>
            </header>
            <cell>
                <span data-bind="html: name"></span>
            </cell>
        </column>
        <column data-g-width="10" data-g-views="mobile,descktop">
            <header>Type</header>
            <cell data-bind="html: type" />
        </column>
      
         <mobile>
            <div>

            </div>
        </mobile>

        <details>

        </details>


    </script>

</div>

@Scripts.Render("~/bundles/gridjs")

