@{
    ViewBag.Title = "TGrid by Tesseris Pro - Download";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <div class="header-content">
        <div class="small-header-content">

            <span class="general-description" style="font-size: 24px;">
                You can download TGrid for Free
            </span>

        </div>
    </div>
}

<h3>
    The Tesseris Free License
</h3>

<div class="license">
    <div>
        Copyright (c) 2014 Tesseris Pro LLC
    </div>
    <div>
        Permission is hereby granted, free of charge, to any person obtaining a copy of
        this software and associated documentation files (the "Software"), to deal in
        the Software without restriction, including without limitation the rights to
        use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
        the Software, and to permit persons to whom the Software is furnished to do so,
        subject to the following conditions:
    </div>
    <div>
        1. The above copyright notice and this permission notice shall be included in all
        copies or substantial portions of the Software.
    </div>
    <div>
        2. Any software that fully or partially contains or uses materials covered by this
        license shall notify users about this notice and above copyright. The notification
        can be made in "About box" and/or site main web-page footer. The notification shall
        contain name of Tesseris Pro company and name of the Software covered by current
        license.
    </div>
    <div>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
        FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
        COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
        IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
        CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    </div>
</div>

<div class="agree">
    <div>
        <input type="checkbox" id="iagree" onchange="if ($('#iagree').prop('checked')) { $('.download').css('display', 'inline-block'); } else { $('.download').css('display', 'none'); }" />
        <span>I agree to license and to add refference to Tesseris Pro to my software</span>
    </div>
    <div>
        <div>
            <a class="button download" style="display: none;" href="https://github.com/organizations/TesserisPro">Download</a>
        </div>
        <div>
            <a class="button download" style="display: none;" href="https://github.com/organizations/TesserisPro">Source Code</a>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#iagree').prop('checked', false);
    });
</script>