@{
    ViewBag.Title = "TGrid by Tesseris Pro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
<div id="GeneralBox_Content_C012_Col00" class="sf_colsIn sf_1col_1in_100">
    <div class="sfContentBlock scheme1 pt30">
        <div class="fr ml30">
            <img src="@Url.Content("~/Content/monitorwithgrid.png")" />
        </div>
        <h2>Fast and Smart</h2>
        <p>
           TGrid is fully compatible with Angular, Knockout.JS, TypeScript and JQuery and has weak dependency on these technologies. This means that you can use TGrid with any this technology or without any. You can even implement your own adapter for your own technology.
        </p>
        <p>
           TGrid supports grouping, sorting, filtering, lazy loading (virtualization) in any combination on any device.
        </p>
        <p>
           TGrid is fully customizable. You can define header template, cell template, footer template, filtering popup, filtering logic and many more features.
        </p>
    </div>

    <div class="sfContentBlock pt20">
        <div class="fl mt-20 mr30">
            <img class="db" src="@Url.Content("~/Content/phonewithgrid.png")" />
        </div>
        <div style="width: 610px; float: right;">
            <h2>Ready for mobile touch devices</h2>
            <p>
               Out-of-the-box, TGrid is ready for touch. TGrid supports all touch events and works perfectly on iPhone, Android, Windows Phone. TGrid automatically changes layout from classical table to detailed list when screen size is changed.
            </p>
            <p>
               All features including virtual scrolling and grouping are working on both layouts. Even scroll position is preserved after layout is changed.
            </p>
            <p>
                Try <a href="~/Home/Demo?demo=Knockout/FilteringGroupingSorting">this link</a> on mobile device.
            </p>
        </div>
    </div>

</div>

