 <!-- Start the highlighter. -->

<pre class="brush: html">
     <div ng-app="SampleModule">
        <div ng-controller="ctrl">
            <t-grid id="test-angular" provider="dataProvider">
                <script type="text/html">
                    <column data-g-member="Name">
                        <cell>
                            <span style="color: #b6424e;">{{item.Name}}</span>
                        </cell>
                    </column>
                    <column data-g-member="Surname">
                    </column>
                    <column data-g-member="Age">
                        <cell>
                            <span style="color:red;">{{item.Age}}</span>
                        </cell>
                    </column>
                    <mobile>
                        <div>
                            <span>First Name: </span>
                            <span style="font-weight:700;">{{item.Name}}</span>
                            <br />
                            <span>Last Name: </span>
                            <span style="color:red;">{{item.Surname}}</span>
                            <br />
                            <span style="font-style: italic;">Age: </span>
                            <span style="font-style: italic;">{{item.Age}}</span>
                            <br />
                        </div>
                    </mobile>
                </script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>