<!-- Start the highlighter. -->

<pre class="brush: html">
    <div ng-app="SampleModule"> 
        <div ng-controller="ctrl">
            <t-grid id="test-angular" provider="dataProvider">
                <script type="text/html">
                    <column data-g-member ="Name">
                        <cell>
                            <span style="color: red;">{{item.item.Name}}</span>
                        </cell>
                    </column>
                    <column data-g-member ="Surname">
                        <cell>
                            <span>{{item.item.Surname}}</span>
                        </cell>
                    </column>
                    <column data-g-member ="Age">
                        <cell>
                            <span style="color: red;">{{item.item.Age}}</span>
                        </cell>
                    </column>
                </script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>