 <!-- Start the highlighter. -->

<pre class="brush: html">
   <div ng-app="TGrid"> 
        <div ng-controller="ctrl">
            <t-grid id="test-angular" provider="dataProvider" >
                <script type="text/html">
                    <column data-g-width="100" data-g-views="mobile,desktop" data-g-member ="CompanyId">
                    </column>
                    <column data-g-width="150" data-g-views="mobile,desktop" data-g-member ="Country">
                        <cell>
                            <span style="font-weight:700;">{{item.Country}}</span>
                        </cell>
                    </column>
                    <column data-g-width="150" data-g-views="mobile,desktop" data-g-member ="City">
                            <cell>
                            <span style="color:red;">{{item.City}}</span>
                        </cell>
                    </column>
                    <column data-g-width="150" data-g-views="mobile,desktop" data-g-member ="Street">
                            <cell>
                            <span style="font-style: italic;">{{item.Street}}</span>
                        </cell>
                    </column>
                    <mobile>
                        <div>
                            <span>Company Id: </span>
                            <span>{{item.CompanyId}}</span>
                            <br />
                            <span>Country: </span>
                            <span style="font-weight:700;">{{item.Country}}</span>
                            <br />
                            <span>City: </span>
                            <span style="color:red;">{{item.City}}</span>
                            <br />
                            <span style="font-style: italic;">Street: </span>
                            <span style="font-style: italic;">{{item.Street}}</span>
                        </div>       
                    </mobile>
                </script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>