<!-- Start the highlighter. -->

<pre class="brush: html">
<div ng-app="SampleModule"> 
        <div ng-controller="ctrl">
            <t-grid id="test-angular" provider="dataProvider" selectionmode="single" showdetailsonselection="false">
                    <script type="text/html">
					<column data-g-width="150" data-g-member="Name">
						<cell>
							<span>{{item.Name}}</span>
							<a href ng-mouseover="viewModel.toggleDetailsForCell(0); $event.stopPropagation();">...</a> 
						</cell>
						<celldetail>
							<div>
								<div>This is a sample of cell details: </div>
								<div style="color: #444;">{{item.detail_Name}}</div>
							</div>
						</celldetail>
					</column>
					<column data-g-width="180" data-g-member="Surname">
						<cell>
							<span>{{item.Surname}}</span>
							<div ng-click="viewModel.toggleDetailsForCell(1); $event.stopPropagation();" class="tgrid-custom-details-button" style="float:right">Toggle Details</div>
						</cell>
						<celldetail>
							<div>
								<div>This is a sample of cell details: </div>
								<div style="color: #444;">{{item.detail_Surname}}</div>
							</div>
						</celldetail>
					</column>
					<column data-g-width="150" data-g-member="Age">
					</column>
					<column data-g-width="116">
						<header>
							<span>Details for row</span>
						</header>
						<cell>
							<div class="tgrid-custom-details-button" style="color: #444; width:50px" ng-click="viewModel.openDetailsForCell(-1); $event.stopPropagation();">Open</div>
							<div class="tgrid-custom-details-button" style="color: #444; width:50px" ng-click="viewModel.closeDetailsForCell(-1); $event.stopPropagation();">Close</div>
						</cell>
					</column>
					<details>
						<div>
							<div>This is a sample of table row details:  </div>
							<div style="color: #444;">{{item.detail}}</div>
							<div><span>First Name: </span><span style="color: #444;">{{item.Name}}</span></div>
							<div><span>Last Name: </span><span style="color: #444;">{{item.Surname}}</span></div>
							<div><span>Age: </span><span style="color: #444;">{{item.Age}}</span></div>  
						</div>
					</details>
				</script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>