<!-- Start the highlighter. -->

<pre class="brush: html">
   <div ng-app="TGrid"> 
        <div ng-controller="ctrl">
            <t-grid id="test-angular" provider="dataProvider" showDetailsOnSelection="true">
                <script type="text/html">
                    <column data-g-width="150" data-g-views="mobile,desktop" data-g-member="CompanyId"> 
                        <celldetail>
                            <div>
                                <div>This is a sample of cell details: </div>
                                <div style="color: #444;"> {{item.detail_Company}}</div>
                            </div>
                        </celldetail>
                    </column>
                    <column data-g-width="150" data-g-views="mobile,desktop" data-g-member ="Country">
                    </column>
                    <column data-g-width="150" data-g-views="mobile,desktop" data-g-member ="City">
                    </column>
                    <column data-g-width="150" data-g-views="mobile,desktop" data-g-member ="Street">
                    </column>
                    <mobile>
                        <div>
                            <span>Company Id: </span>
                            <span>{{item.CompanyId}}</span>
                            <a href ng-click="toggleDetailsForCell(0); $event.stopPropagation();">...</a>
                            <br />
                            <span>Country: </span>
                            <span>{{item.Country}}</span>
                            <br />
                            <span>City: </span>
                            <span>{{item.City}}</span>
                            <br />
                            <span>Street: </span>
                            <span>{{item.Street}}</span>
                        </div>       
                    </mobile>
                    <details>
                        <div>
                            <div>This is a sample of row details: </div>
                            <div style="color: #444;">{{item.detail}}</div>                    
                            <div><span>Company detail : </span><span style="color: #444;">{{item.detail_Company}}</span></div>         
                        </div>
                    </details>
                </script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>