<!-- Start the highlighter. -->

<pre class="brush: html">
    <div ng-app="TGrid"> 
        <div ng-controller="ctrl">
            <t-grid id="test-angular" provider="dataProvider" showdetailsonselection="true">
                <script type="text/html">
                    <column data-g-member="Name"> 
                        <celldetail>
                            <div>
                                <div>This is a sample of cell details: </div>
                                <div style="color: #444;"> {{item.detail_Name}}</div>
                            </div>
                        </celldetail>
                    </column>
                    <column data-g-member="Surname">
                    </column>
                    <column data-g-member="Age">
                    </column>
                    <mobile>
                        <div>
                            <span>First Name: </span>
                            <span>{{item.Name}}</span>
                            <a href ng-click="toggleDetailsForCell(0); $event.stopPropagation();">...</a>
                            <br />
                            <span>Last Name: </span>
                            <span>{{item.Surname}}</span>
                            <br />
                            <span>Age: </span>
                            <span>{{item.Age}}</span>
                            <br />
                        </div>       
                    </mobile>
                    <details>
                        <div>
                            <div>This is a sample of table row details:  </div>
                            <div style="color: #444;">{{item.detail}}</div>
                            <div><span>First Name : </span><span style="color: #444;">{{item.Name}}</span></div>
                            <div><span>Last Name : </span><span style="color: #444;">{{item.Surname}}</span></div>
                            <div><span>Age : </span><span style="color: #444;">{{item.Age}}</span></div>
                        </div>
                    </details>
                </script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>