@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dynamic reconfiguration angular</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Grid.css">
    <link rel="stylesheet" type="text/css" href="~/Content/iframe.css">
    <link rel="stylesheet" type="text/css" href="~/Content/dynamicReconfiguration.css">

    <script src="~/Scripts/iframe/angular.js"></script>
    <script src="~/Scripts/iframe/jquery-1.11.0.min.js"></script>

    <script src="~/Scripts/iframe/tgrid-array-items-provider-min.js" type="text/javascript"></script>
    <script src="~/Scripts/iframe/tgrid-min.js" type="text/javascript"></script>
    <script src="~/Scripts/iframe/tgrid-angular-min.js" type="text/javascript"></script>
</head>
<body>
    <div ng-app="SampleModule">
        <div ng-controller="ctrl">
            <fieldset>
                <legend>Grid options</legend>
                <div id="changeOptionsCheckboxes">
                    <span>
                        <input type="checkbox" ng-click="toggleSorting()" /> Enable Sorting
                    </span>
                    <span>
                        <input type="checkbox" ng-click="toggleGrouping()" /> Enable Grouping
                    </span>
                </div>
                <div>Actions with grid columns</div>
                <table class="tgrid-table" id="tableColumnActionsHeader">
                    <thead class="tgrid-table-header">
                        <tr>
                            <th style="width:90px">
                                Member
                            </th>
                            <th style="width:120px">
                                Header
                            </th>
                            <th style="width:390px">
                                Cell template
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                </table>
                <div id="tableContainer">
                    <table class="tgrid-table" id="tableColumnDeleteBody">
                        <tbody>
                            <tr ng-repeat="column in availableColumns">
                                <td style="width:90px">
                                    <span>{{column.member}}</span>
                                </td>
                                <td style="width:120px">
                                    <span>{{column.header}}</span>
                                </td>
                                <td style="width:390px">
                                    <span>{{column.cell}}</span>
                                </td>
                                <td>
                                    <div class="grid-delete-button" ng-click="delete(column)">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table class="tgrid-table" id="tableColumnAddBody">
                    <tbody>
                        <tr style=" height: 50px;">
                            <td style="width:90px">
                                <select style="width:85px" ng-model="columnForAdding.member" ng-disabled="membersOfColumnsForAdding.length == 0" ng-options="member for member in membersOfColumnsForAdding">
									<option value="">Choose...</option>
                                </select>
                            </td>
                            <td style="width:120px">
                                <input type="text" ng-model="columnForAdding.header" />
                            </td>
                            <td style="width:390px">
                                <input type="text" ng-model="columnForAdding.cell" style="margin: 0 0 0 3px; width: 380px;"/>
                            </td>
                            <td>
                                <div class="grid-add-button" ng-click="add(columnForAdding)">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <t-grid id="test-angular" provider="dataProvider" options="gridOptions">
                <script type="text/html">
                    <column data-g-member="Name">
                        <header>
                            First Name
                        </header>
                        <cell>
                            <span style='color: #259631'>{{item.item.Name}}</span>
                        </cell>
                    </column>
                    <column data-g-member="Surname">
                        <header>
                            Last Name
                        </header>
                    </column>
                    <column data-g-member="Age">
                        <header>
                            Age
                        </header>
                    </column>
                </script>
            </t-grid>
        </div>
    </div>
    <script type="text/javascript">
		var items = [
            { Name: "Sharilyn", Surname: "Ham", Age: "52" },
            { Name: "John", Surname: "Figgins", Age: "20"},
            { Name: "Matthew", Surname: "Holz", Age: "42"},
            { Name: "Jasmine", Surname: "Seidel", Age: "32"},
            { Name: "Ashley", Surname: "Ronan", Age: "33"},
            { Name: "Christiana ", Surname: "Gardella", Age: "35"},
            { Name: "Cathrine", Surname: "Swanson", Age: "30"},
            { Name: "Alison", Surname: "Gardella", Age: "25"},
            { Name: "Ruth", Surname: "Gardella", Age: "20"},
            { Name: "Samantha", Surname: "Swanson", Age: "25"},
            { Name: "Alison", Surname: "Arboleda", Age: "32" },
            { Name: "Nicole", Surname: "Newlin", Age: "20"},
            { Name: "Theron", Surname: "Thrush", Age: "28"},
            { Name: "George", Surname: "Smartt", Age: "19"},
            { Name: "Rob", Surname: "Premo", Age: "28"},
            { Name: "Larry", Surname: "Figgins", Age: "20"},
            { Name: "Tina", Surname: "Ham", Age: "43"},
            { Name: "Nelson", Surname: "Seidel", Age: "31"},
            { Name: "Ashley", Surname: "Stevens", Age: "22"},
            { Name: "Ashley", Surname: "Gardella", Age: "21"},
            { Name: "Cathrine", Surname: "Swanson", Age: "23"},
            { Name: "Maya", Surname: "Lewis", Age: "25"},
            { Name: "Ted", Surname: "Lewis", Age: "20"},
            { Name: "William", Surname: "Swanson", Age: "25"},
            { Name: "Alison", Surname: "Lewis", Age: "32"},
            { Name: "Nicole", Surname: "Turner", Age: "20"},
            { Name: "Theron", Surname: "Carter", Age: "25"},
            { Name: "George", Surname: "Collins", Age: "39"},
            { Name: "Matthew", Surname: "Murphy", Age: "28"}
		];

        var sampleModule = angular.module("SampleModule", ['TGrid'])
            .controller("ctrl", function ctrl($scope) {
                $scope.dataProvider = new TesserisPro.TGrid.ArrayItemsProvider(items);
                $scope.gridOptions;
                
                $scope.availableColumns = [
                    { member: "Name", header: "First Name", cell: "<span style='color: #259631'>{{item.item.Name}}</span>" },
                    { member: "Surname", header: "Second Name", cell: "" },
                    { member: "Age", header: "Age", cell: "" }
                ];

                $scope.columnForAdding = { member: "", header: "", cell: "<span style='color: #259631'>{{item.item.Name}}</span>" };
                
                $scope.membersOfColumnsForAdding = new Array();

                $scope.delete = function (column) {
                	for (var i = 0; i < $scope.gridOptions.columns.length; i++) {
                		for (j = 0; j < $scope.gridOptions.groupBySortDescriptors.length; j++) {
                			if ($scope.gridOptions.groupBySortDescriptors[j].path == $scope.gridOptions.columns[i].member) {
                				$scope.gridOptions.groupBySortDescriptors.splice(j, 1);
                			}
                		}
                		if ($scope.gridOptions.sortDescriptor.path == $scope.gridOptions.columns[i].member) {
                			$scope.gridOptions.sortDescriptor = new TesserisPro.TGrid.SortDescriptor();
                		}
                        if (column.member == $scope.gridOptions.columns[i].member) {
                            $scope.membersOfColumnsForAdding.push($scope.gridOptions.columns[i].member);
                            $scope.availableColumns.splice(i, 1);
                            $scope.gridOptions.columns.splice(i, 1);
                            $scope.gridOptions.applyHandler();
                            break;
                        }
                    }
                }
                $scope.add = function (column) {
                	if (column.member != "") {
                		if ($scope.availableColumns.length <= 0) {
                			$scope.gridOptions.columns.length = 0;
                		}
                        $scope.gridOptions.columns.push(new TesserisPro.TGrid.ColumnInfo());
                        var lastColumnIndex = $scope.gridOptions.columns.length - 1;

                        $scope.gridOptions.columns[lastColumnIndex].member = column.member;
                        if (column.header != "") {
                        	var headerNew = document.createElement("div");
                        	headerNew.innerHTML = column.header;
                        	$scope.gridOptions.columns[lastColumnIndex].header = new TesserisPro.TGrid.Template(headerNew);
                        }

                        if (column.cell != "") {
                            var cellNew = document.createElement("div");
                            cellNew.innerHTML = column.cell;
                            $scope.gridOptions.columns[lastColumnIndex].cell = new TesserisPro.TGrid.Template(cellNew);
                        }
                        $scope.availableColumns.push({ member: column.member, header: column.header, cell: column.cell });

                        for (var i = 0; i < $scope.membersOfColumnsForAdding.length; i++) {
                            if (column.member == $scope.membersOfColumnsForAdding[i]) {
                                $scope.membersOfColumnsForAdding.splice(i, 1);
                                break;
                            }
                        }
                        $scope.gridOptions.applyHandler();
                    }
                    $scope.columnForAdding = { member: "", header: "", cell: "<span style='color: #259631'>{{item.item.Name}}</span>" };
                }
                $scope.toggleSorting = function () {
                    if (!$scope.gridOptions.enableSorting) {
                        $scope.gridOptions.enableSorting = true;
                    } else {
                        $scope.gridOptions.enableSorting = false;
                    }
                    $scope.gridOptions.applyHandler();
                }
                $scope.toggleGrouping = function () {
                    if (!$scope.gridOptions.enableGrouping) {
                        $scope.gridOptions.enableGrouping = true;
                    } else {
                        $scope.gridOptions.enableGrouping = false;
                    }
                    $scope.gridOptions.applyHandler();
                }
            })

        $(function () {
        })
    </script>
</body>
</html>
