<!-- Start the highlighter. -->

<pre class="brush: html">
    <div ng-app="TGrid"> 
        <div ng-controller="ctrl">
            <t-grid id="test-angular" provider="dataProvider" showdetailsonselection="false" selectionmode="none">
                <script type="text/html">
                    <column data-g-member="Name">
                        <cell>
                            <span style="color: green;" ng-hide="model.editingItem == item.Name" ng-click="model.toggleActive(item, item.Name, 'Name')">{{item.Name}}</span>                                     
                            <input class="tgrid-edit-input" style="color: green;" ng-show-in-focus="model.editingItem == item.Name" ng-blur="setItemValue(model.getValueForSaving())" ng-model="model.valueForEditing" style="display:none;" />
                        </cell>
                    </column>
                    <column data-g-member="Surname">
                        <cell>
                            <span ng-hide="model.editingItem == item.Surname" ng-click="model.toggleActive(item, item.Surname, 'Surname')">{{item.Surname}}</span>                                     
                            <input class="tgrid-edit-input" ng-show-in-focus="model.editingItem == item.Surname" ng-blur="setItemValue(model.getValueForSaving())" ng-model="model.valueForEditing" style="display:none;" />
                        </cell>
                    </column>
                    <column data-g-member="Age">
                        <cell>
                            <span style="color: red;" ng-hide="model.editingItem == item.Age" ng-click="model.toggleActive(item,  item.Age, 'Age')">{{item.Age}}</span>                                     
                            <input class="tgrid-edit-input" style="color: red;" ng-show-in-focus="model.editingItem == item.Age" ng-blur="setItemValue(model.getValueForSaving())" ng-model="model.valueForEditing" style="display:none;" />
                        </cell>
                    </column>
                </script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>
