<!-- Start the highlighter. -->

<pre class="brush: html">
    <div ng-app="SampleModule"> 
        <div ng-controller="ctrl">
            <t-grid id="test-angular" provider="dataProvider" showdetailsonselection="false" selectionmode="none">
               <script type="text/html">
                    <column data-g-member="Name">
                        <cell>
                            <span style="color: green;" ng-hide="item.model.editingItem == item.item.Name && item.model.valueForSaving == item.item"  ng-click="item.model.toggleActive(item.item, item.item.Name, 'Name')">{{item.item.Name}}</span>                                     
                            <input class="tgrid-edit-input" style="color: green;"  ng-show-in-focus="item.model.editingItem == item.item.Name && item.model.valueForSaving == item.item" ng-blur="setItemValue(item.model.getValueForSaving())" ng-model="item.model.valueForEditing" style="display:none;" />             
                        </cell>
                    </column>
                    <column data-g-member="Surname">
                        <cell>
                            <span ng-hide="item.model.editingItem == item.item.Surname && item.model.valueForSaving == item.item"  ng-click="item.model.toggleActive(item.item, item.item.Surname, 'Surname')">{{item.item.Surname}}</span>                                     
                            <input class="tgrid-edit-input" ng-show-in-focus="item.model.editingItem == item.item.Surname && item.model.valueForSaving == item.item"  ng-blur="setItemValue(item.model.getValueForSaving())"  ng-model="item.model.valueForEditing" style="display:none;" />                 
                        </cell>
                    </column>
                    <column data-g-member="Age">
                        <cell>
                            <span style="color: red;" ng-hide="item.model.editingItem == item.item.Age && item.model.valueForSaving == item.item"  ng-click="item.model.toggleActive(item.item,  item.item.Age, 'Age')">{{item.item.Age}}</span>                                     
                            <input class="tgrid-edit-input" style="color: red;" ng-show-in-focus="item.model.editingItem == item.item.Age && item.model.valueForSaving == item.item" ng-blur="setItemValue(item.model.getValueForSaving())" ng-model="item.model.valueForEditing" style="display:none;" />                   
                        </cell>
                    </column>
                </script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>
