<!-- Start the highlighter. -->

<pre class="brush: html">
    <div ng-app="SampleModule"> 
        <div ng-controller="ctrl">
            <t-grid id="test-angular" provider="dataProvider" enablefiltering="true" enablegrouping="true" enablesorting="true">
                <script type="text/html">
                    <column data-g-member="Name" data-g-filter-member="Name" data-g-group-member="Name" data-g-sort-member="Name">
                    </column>
                    <column data-g-member="Surname" data-g-filter-member="Surname" data-g-group-member="Surname" data-g-sort-member="Surname">
                    </column>
                    <column data-g-member="Age" data-g-filter-member="Age" data-g-group-member="Age" data-g-sort-member="Age">
                    </column>
                    <filterpopup>
                        <div><span>{{path}}</span></div>
                        <select>
                            <option value="0">None</option>
                            <option value="1">Equals</option>
                            <option value="2">Not Equals</option>
                        </select>
                        <input type="text" value=""><br>
                        <div class="tgrid-filter-popup-button" style="width:70px" ng-click="onApply()">OK</div>
                        <div class="tgrid-filter-popup-button" style="width:70px" ng-click="onClose()">Cancel</div>
                    </filterpopup>
                </script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>
