<!-- Start the highlighter. -->

<pre class="brush: html">
    <div ng-app="TGrid"> 
        <div ng-controller="ctrl">
            <t-grid id="test-angular" provider="dataProvider" enableFiltering="true">
                <script type="text/html">
                    <column data-g-width="125" data-g-views="mobile,desktop" data-g-member ="CompanyId" data-g-filter-member ="CompanyId">
                    </column>
                    <column data-g-width="150" data-g-views="mobile,desktop" data-g-member ="Country" data-g-filter-member ="Country">
                    </column>
                    <column data-g-width="150" data-g-views="mobile,desktop" data-g-member ="City" data-g-filter-member ="City">
                    </column>
                    <column data-g-width="150" data-g-views="mobile,desktop" data-g-member ="Street" data-g-filter-member ="Street">
                    </column>
                    <filterpopup>
                        <div><span>{{path}}</span></div>
                        <select>
                            <option value="0">None</option>
                            <option value="1">Equals</option>
                            <option value="2">Not Equals</option>
                        </select>
                        <input type="text" value=""><br>
                        <div class="tgrid-filter-popup-button" style="width:70px" ng-click="onApply()">OK</div>
                        <div class="tgrid-filter-popup-button" style="width:70px" ng-click="onClose()">Cancel</div>
                    </filterpopup>
                </script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>

