@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>FilteringMobileAngular</title>
        <link rel="stylesheet" type="text/css" href="~/Content/Grid.css">
        <link rel="stylesheet" type="text/css" href="~/Content/iframe.css">
   
        <script src="~/Scripts/iframe/angular.js"></script>
        <script src="~/Scripts/iframe/jquery-2.0.3.js"></script>

        <script src="~/Scripts/iframe/tgrid-array-items-provider-min.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/tgrid-min.js" type="text/javascript"></script>
        <script src="~/Scripts/iframe/tgrid-angular-min.js" type="text/javascript"></script>
        <style>
            .tgrid-mobile-container.mobile {
                height: 448px;
            }
        </style>
    </head>
    <body>
        <div ng-app="TGrid"> 
            <div ng-controller="ctrl">
                <t-grid id="test-angular" provider="dataProvider" enableFiltering="true">
                    <script type="text/html">
                        <column data-g-width="125" data-g-views="mobile,desktop" data-g-member ="CompanyId" data-g-filter-member ="CompanyId">
                        </column>
                        <column data-g-width="150" data-g-views="mobile,desktop" data-g-member ="Country" data-g-filter-member ="Country">
                        </column>
                        <column data-g-width="150" data-g-views="mobile,desktop" data-g-member ="City" data-g-filter-member ="City">
                        </column>
                        <column data-g-width="150" data-g-views="mobile,desktop" data-g-member ="Street" data-g-filter-member ="Street">
                        </column>
                        <filterpopup>
                            <select>
                                <option value="0">None</option>
                                <option value="1">Equals</option>
                                <option value="2">Not Equals</option>
                            </select>
                            <input type="text" style="width:150px" value=""><br>
                            <div class="tgrid-filter-popup-button" style="width:70px" ng-click="onApply()">OK</div>
                            <div class="tgrid-filter-popup-button" style="width:70px" ng-click="onClose()">Cancel</div>
                        </filterpopup>
                    </script>
                </t-grid>
            </div>
        </div>
       <script type="text/javascript">
           var items = [
                   { CompanyId: "1", Country: "Great Britain", City: "Boston", Street: "Cottage St", detail_Company: "Company name: Flowers Delivery", detail: "Address: Great Britain, Boston, Cottage St" },
                   { CompanyId: "2", Country: "France", City: "Nantes", Street: "Talensac", detail_Company: "Company name: BHF", detail: "Address: France, Nantes, Talensac" },
                   { CompanyId: "3", Country: "Italy", City: "Rome", Street: "Labicana", detail_Company: "Company name: Rome Tour", detail: "Address: Italy, Rome, Labicana" },
                   { CompanyId: "4", Country: "Italy", City: "Naples", Street: "Ferrara", detail_Company: "Company name: Naples Fish", detail: "Address: Italy, Naples, Ferrara" },
                   { CompanyId: "5", Country: "Germany", City: "Frankfurt", Street: "Dreieich", detail_Company: "Company name: Danshtain", detail: "Address: Germany, Frankfurt, Dreieich" },
                   { CompanyId: "8", Country: "USA", City: "New York", Street: "Franklin", detail_Company: "Company name: McSandersAndCo", detail: "Address: USA, New York, Franklin" },
                   { CompanyId: "6", Country: "Italy", City: "Rome", Street: "Cavour", detail_Company: "Company name: Zingaly", detail: "Address: Rome, Italy, Cavour" },
                   { CompanyId: "7", Country: "Germany", City: "Frankfurt", Street: "Dreieich", detail_Company: "Company name: Lastwagen", detail: "Address: Germany, Frankfurt, Dreieich" },
                   { CompanyId: "7", Country: "Germany", City: "Hamburg", Street: "Bramfeld", detail_Company: "Company name: Lastwagen", detail: "Address: Germany, Hamburg, Bramfeld" },
                   { CompanyId: "2", Country: "France", City: "Nantes", Street: "Saget", detail_Company: "Company name: BHF", detail: "Address: France, Nantes, Saget" },
                   { CompanyId: "4", Country: "Italy", City: "Naples", Street: "Miano", detail_Company: "Company name: Naples Fish", detail: "Address: Italy, Naples, Miano" },
                   { CompanyId: "1", Country: "Great Britain", City: "London", Street: "New Oxford", detail_Company: "Company name: Flowers Delivery", detail: "Address: Great Britain, London, New Oxford" },
                   { CompanyId: "1", Country: "Great Britain", City: "London", Street: "Wigmore", detail_Company: "Company name: Flowers Delivery", detail: "Address: Great Britain, London, Wigmore" },
                   { CompanyId: "7", Country: "Germany", City: "Frankfurt", Street: "Dreieich", detail_Company: "Company name: Lastwagen", detail: "Address: Germany, Frankfurt, Dreieich" },
                   { CompanyId: "8", Country: "USA", City: "New York", Street: "Melrose Avenue", detail_Company: "Company name: McSandersAndCo", detail: "Address: USA, New York, Melrose Avenue" },
                   { CompanyId: "9", Country: "USA", City: "Little Rock", Street: "Boone", detail_Company: "Company name: Target", detail: "Address: USA, Little Rock, Boone" },
                   { CompanyId: "10", Country: "Great Britain", City: "Birmingham", Street: "Alumn Rock", detail_Company: "Company name: Mars, Inc", detail: "Address: Great Britain, Birmingham, Alumn Rock" },
                   { CompanyId: "10", Country: "Great Britain", City: "Bristol", Street: "Barton Hill", detail_Company: "Company name: Mars, Inc", detail: "Address: Great Britain, Bristol, Barton Hill" },
                   { CompanyId: "10", Country: "Spain", City: "Valencia", Street: "Picanya", detail_Company: "Company name: Mars, Inc", detail: "Address: Spain, Valencia, Picanya" },
                   { CompanyId: "10", Country: "Spain", City: "Valencia", Street: "Rocafort", detail_Company: "Company name: Mars, Inc", detail: "Address: Spain, Valencia, Rocafort" },
                   { CompanyId: "11", Country: "Germany", City: "Munich", Street: "Lieberweg", detail_Company: "Company name: TEKsystems", detail: "Address: Germany, Munich, Lieberweg" },
                   { CompanyId: "11", Country: "Denmark", City: "Odense", Street: "Bellinge", detail_Company: "Company name: TEKsystems", detail: "Address: Denmark, Odense, Bellinge" },
                   { CompanyId: "6", Country: "Italy", City: "Rome", Street: "Cavour", detail_Company: "Company name: Zingaly", detail: "Address: Rome, Italy, Cavour" },
                   { CompanyId: "7", Country: "Germany", City: "Frankfurt", Street: "Dreieich", detail_Company: "Company name: Lastwagen", detail: "Address: Germany, Frankfurt, Dreieich" },
                   { CompanyId: "13", Country: "Germany", City: "Munich", Street: "Ottostrabe", detail_Company: "Company name: Grainger", detail: "Address: Germany, Munich, Ottostrabe" },
                   { CompanyId: "13", Country: "France", City: "Nantes", Street: "Saget", detail_Company: "Company name: BHF", detail: "Address: France, Nantes, Saget" },
                   { CompanyId: "14", Country: "Italy", City: "Turin", Street: "Cenicia", detail_Company: "Company name: Mariott Intarnational, Inc", detail: "Address: Italy, Turin, Cenicia" },
                   { CompanyId: "15", Country: "Denmark", City: "Odense", Street: "Assensvej", detail_Company: "Company name: Hasbro, Inc", detail: "Address: Denmark, Odense, Assensvej" },
                   { CompanyId: "16", Country: "Great Britain", City: "Boston", Street: "Frampton", detail_Company: "Company name: Balfour Beatty Construction", detail: "Address: Great Britain, Boston, Frampton" },
                   { CompanyId: "7", Country: "Germany", City: "Frankfurt", Street: "Dreieich", detail_Company: "Company name: Lastwagen", detail: "Address: Germany, Frankfurt, Dreieich" },
                   { CompanyId: "17", Country: "Italy", City: "Turin", Street: "Santa Rita", detail_Company: "Company name: Deloitte", detail: "Address: Italy, Turin, Santa Rita" },
                   { CompanyId: "9", Country: "USA", City: "Madison", Street: "Fitchburg", detail_Company: "Company name: Target", detail: "Address: USA, Madison, Fitchburg" }
           ];

           var TGrid = angular.module('TGrid', [])
               .controller("ctrl", function ctrl($scope) {
                   $scope.dataProvider = new TesserisPro.TGrid.ArrayItemsProvider(items);
               })
               .directive('tGrid', TGrid.Angular.Directive);

           $(function () {
           })
        </script>
    </body>
</html>
