<!-- Start the highlighter. -->

<pre class="brush: html">
    <div ng-app="SampleModule"> 
        <div ng-controller="ctrl">
            <t-grid id="test-angular" provider="dataProvider" enablefiltering="true">
                <script type="text/html">
                    <column data-g-member="Name" data-g-filter-member="Name">
                    </column>
                    <column data-g-member="Surname" data-g-filter-member="Surname">
                    </column>
                    <column data-g-member="Age" data-g-filter-member="Age">
                    </column>
                </script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>