<!-- Start the highlighter. -->

<pre class="brush: html">
   <div ng-app="TGrid"> 
        <div ng-controller="ctrl">
            <t-grid id="test-angular" provider="dataProvider" enableGrouping="true">
                <script type="text/html">
                    <column data-g-member="CompanyId" data-g-group-member="CompanyId">
                    </column>
                    <column data-g-member="Country" data-g-group-member="Country">
                    </column>
                    <column data-g-member="City" data-g-group-member="City">
                    </column>
                    <column data-g-member="Street" data-g-group-member="Street">
                    </column>
                </script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>