<!-- Start the highlighter. -->

<pre class="brush: html">
     <div ng-app="TGrid"> 
        <div ng-controller="ctrl">
            <t-grid id="test-angular" provider="dataProvider" >
                <script type="text/html">
                    <column data-g-member ="CompanyId">
                        <header>
                            <span style="font-weight:600; font-size: smaller;">Company Id </span>
                        </header>
                    </column>
                    <column  data-g-member ="Country">
                        <header>
                            <span style="font-size: large; color: green;">Country</span>
                        </header>
                    </column>
                    <column data-g-member ="City">
                        <header>
                            <span style="font-size: large;">City</span>
                        </header>
                    </column>
                    <column data-g-member ="Street">
                        <header>
                            <span style="font-size: large; color:#333;">Street</span>
                        </header>
                    </column>
                </script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>