<!-- Start the highlighter. -->

<pre class="brush: html">
     <div ng-app="TGrid"> 
        <div ng-controller="ctrl">
            <t-grid id="test-angular" provider="dataProvider" >
                <script type="text/html">
                    <column data-g-member="Name">
                        <header>
                            <span>First Name</span>
                        </header>
                    </column>
                    <column data-g-member="Surname">
                        <header>Last Name</header>
                    </column>
                    <column data-g-member="Age">
                        <header>
                            <span style="color: green;">Age</span>
                        </header>
                    </column>
                </script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>