
<!-- Start the highlighter. -->

<pre class="brush: html">
   <div ng-app="TGrid"> 
        <div ng-controller="ctrl">
            <t-grid id="test-angular" provider="dataProvider" enableVirtualScroll="true" >
                <script type="text/html">
                    <column data-g-member="Name">
                    </column>
                    <column data-g-member="Surname">
                    </column>
                    <column data-g-member="Age">
                    </column>
                </script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>