<!-- Start the highlighter. -->

<pre class="brush: html">
    <div ng-app="TGrid">
        <div ng-controller="ctrl">
            <div class="bordedHeader">Grid options</div>
            <table class="tgrid-table" id="tableOptionChanges">
                <thead class="tgrid-table-header">
                    <tr>
                        <th style="width:150px">
                            Column header
                        </th>
                        <th>
                            Column actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:150px">
                            <span ng-hide="editingHeader[0]">{{headers[0]}}</span>
                            <input ng-show="editingHeader[0]" ng-model="headers[0]" />
                        </td>
                        <td>
                            <div class="tgrid-custom-details-button" ng-click="switchToEditingHeader(0)" ng-hide="editingHeader[0]" style="width:70px">Edit</div>
                            <div class="tgrid-custom-details-button" ng-click="changeColumnHeader('Name', 0)" ng-show="editingHeader[0]" style="width:70px">Save</div>
                            <div class="tgrid-custom-details-button" ng-click="removeColumn('Name', 0)" style="width:70px">Remove</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:150px">
                            <span ng-hide="editingHeader[1]">{{headers[1]}}</span>
                            <input ng-show="editingHeader[1]" ng-model="headers[1]" />
                        </td>
                        <td>
                            <div class="tgrid-custom-details-button" ng-click="switchToEditingHeader(1)" ng-hide="editingHeader[1]" style="width:70px">Edit</div>
                            <div class="tgrid-custom-details-button" ng-click="changeColumnHeader('Surname', 1)" ng-show="editingHeader[1]" style="width:70px">Save</div>
                            <div class="tgrid-custom-details-button" ng-click="removeColumn('Surname', 1)" style="width:70px">Remove</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:150px">
                            <span ng-hide="editingHeader[2]">{{headers[2]}}</span>
                            <input ng-show="editingHeader[2]" ng-model="headers[2]" />
                        </td>
                        <td>
                            <div class="tgrid-custom-details-button" ng-click="switchToEditingHeader(2)" ng-hide="editingHeader[2]" style="width:70px">Edit</div>
                            <div class="tgrid-custom-details-button" ng-click="changeColumnHeader('Age', 2)" ng-show="editingHeader[2]" style="width:70px">Save</div>
                            <div class="tgrid-custom-details-button" ng-click="removeColumn('Age', 2)" style="width:70px">Remove</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="changeOptionsCheckboxes">
                <span><input type="checkbox" ng-click="toggleSorting()" /> Enable Sorting</span>
                <span><input type="checkbox" ng-click="toggleGrouping()" /> Enable Grouping</span>
            </div>
            <div class="bordedHeader">Grid</div>
            <t-grid id="test-angular" provider="dataProvider" options="gridOptions">
                <script type="text/html">
                    <column data-g-member="Name">
                        <header>
                            First Name
                        </header>
                    </column>
                    <column data-g-member="Surname">
                        <header>
                            Last Name
                        </header>
                    </column>
                    <column data-g-member="Age">
                        <header>
                            Age
                        </header>
                    </column>
                </script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>