<!-- Start the highlighter. -->

<pre class="brush: html">
    <div ng-app="TGrid"> 
        <div ng-controller="ctrl">
            <t-grid id="test-angular" provider="dataProvider" pageSize="6" pageSlide="4" enablePaging="true">
                <script type="text/html">
                    <column data-g-width="65" data-g-member="Number">
                    </column>
                    <column data-g-width="100" data-g-member="Picture">
                        <cell> <img width="100px" height='60px' style: "" ng-src="{{model.url + item.PictureName}}" /></cell>
                    </column>
                    <column data-g-width="70" data-g-member="Brand">
                    </column>
                    <column data-g-width="120" data-g-member="Type"> 
                    </column>
                    <column data-g-width="100" data-g-member="EnginePower">
                        <header>
                            <span>Engine power</span>
                        </header>
                        <cell>
                            <span>{{item.EnginePower}}</span> HP
                        </cell>
                    </column>
                    <column data-g-width="60" data-g-member="Year">
                        <header>
                            <span>1st Reg.</span>
                        </header>
                    </column>
                    <column data-g-width="120" data-g-member="Cabin">
                    </column>
                </script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>