<!-- Start the highlighter. -->

<pre class="brush: html">
    <div ng-app="TGrid"> 
        <div ng-controller="ctrl">
            <t-grid id="test-angular" provider="dataProvider" enableVirtualScroll="true">
                <script type="text/html">
                    <column data-g-width="55" data-g-views="mobile,desktop"  data-g-member="Number">
                    </column>
                    <column data-g-width="100" data-g-views="mobile,desktop"  data-g-member="Company">
                    </column>
                    <column data-g-width="100" data-g-views="mobile,desktop" data-g-member="City"> 
                    </column>
                     <column data-g-width="100" data-g-views="mobile,desktop" data-g-member="Year">
                    </column>
                     <column data-g-width="100" data-g-views="mobile,desktop" data-g-member="Employees">
                    </column>
                     <column data-g-width="100" data-g-views="mobile,desktop" data-g-member="Picture">
                         <cell> <img width="100px" height='60px' style: "" ng-src="{{item.Picture}}" /></cell>
                    </column>
                     <footer>
                        <div class ="footer" style="font-size:14px;">
                            <span >{{totalCount}}</span> items
                        </div>
                    </footer>  
                </script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>