
<!-- Start the highlighter. -->

<pre class="brush: html">
   <div ng-app="TGrid"> 
        <div ng-controller="ctrl">
            <t-grid id="test-angular" provider="dataProvider" >
                 <script type="text/html">
                     <column data-g-width="100" data-g-views="mobile,desktop" data-g-member ="CompanyId">
                    </column>
                    <column data-g-width="150" data-g-views="mobile,desktop" data-g-member ="Country">
                    </column>
                    <column data-g-width="150" data-g-views="mobile,desktop" data-g-member ="City">
                    </column>
                    <column data-g-width="150" data-g-views="mobile,desktop" data-g-member ="Street">
                    </column>
                </script>
            </t-grid>
        </div>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>