.tgrid-root {
    position: relative;
}

.tgrid-table {
    border-collapse: collapse;
    width: 100%;
}

.tgrid-group-by-element,
.tgrid-goup-button .tgrid-menu li,
.tgrid-mobile-button .tgrid-menu li,
.tgrid-mobile-menu li, .tgrid-filter-popup, 
.tgrid-filter-popup-button {       
    border-right: 1px solid #BEBEBE;
    cursor: pointer;
    margin: 1px;
    padding: 2px;
    background: #EEE9E9; /* Old browsers */
    background: -moz-linear-gradient(top, #EEE9E9rgba(222,239,255,1) 0%, #DDDCDC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,#DDDCDC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #EEE9E9 0%,#DDDCDC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #EEE9E9rgba(222,239,255,1) 0%,#DDDCDC 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #EEE9E9 0%,#DDDCDC 100%); /* IE10+ */
    background: linear-gradient(to bottom, #EEE9E9rgba(222,239,255,1) 0%,#DDDCDC 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */
    color:grey;
}

.tgrid-table thead tr th
{
    border-right: 1px solid #BEBEBE;
    background: #EEE9E9; /* Old browsers */
    background: -moz-linear-gradient(top, #EEE9E9rgba(222,239,255,1) 0%, #DDDCDC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,#DDDCDC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #EEE9E9 0%,#DDDCDC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #EEE9E9rgba(222,239,255,1) 0%,#DDDCDC 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #EEE9E9 0%,#DDDCDC 100%); /* IE10+ */
    background: linear-gradient(to bottom, #EEE9E9rgba(222,239,255,1) 0%,#DDDCDC 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */
    color:grey;
}

.tgrid-table thead tr th,
.tgrid-mobile-header,
.tgrid-header-cell-container{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.tgrid-mobile-header {
     border-bottom: 1px solid #BEBEBE;
}

.tgrid-header-cell-container{
    margin: 0px;
    display:inline-block;
    width: 100%;
    height: 22px;
    position: relative;
}

.tgrid-header-cell-content {
    margin: 0px;
    display:inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 3px;
    bottom: 0;
}

.tgrid-header-cell-buttons {
    margin: 0px;
    display:inline-block;
   /* position: absolute;*/
    right:0;
    top:0;
    bottom:0;
    left:0;
    width: 55px;
    float: right;
}

.tgrid-header-column-resize{
    right: -6px;
    width: 8px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    cursor: col-resize;
    z-index: 100;
}

.tgrid-table tbody tr td, .tgrid-table-group-header {
    overflow: hidden;
    line-height: 1.6em;
    vertical-align: middle;
    text-overflow: ellipsis;
    color: grey;
    border-right: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
}
.tgrid-cell-content > span,
.tgrid-cell-content > div,
.tgrid-cell-content > img,
.tgrid-cell-content > a
{
    margin: 2px;
}

.tgrid-table-group-header, .tgrid-mobile-group-header  {
    background-color: rgb(233, 234, 235) !important;
}

td.tgrid-table-group-header {
    border-top: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
}


.tgrid-mobile-indent-div, 
.tgrid-table-indent-cell, 
.tgrid-mobile-group-indent-div,
.tgrid-table-indent-cell-content {
    width: 24px;
    background-color: rgb(233, 234, 235) !important;
    border-top: none !important;
}

.tgrid-table tbody tr.selected td {
    background-color: #dbdbde;
}

.tgrid-mobile-row {
    background-color: whitesmoke;
}

.tgrid-mobile-container .selected {
    background-color: #dbdbde !important;
}

.tgrid-tablebodycontainer {
    overflow-y: scroll;
    overflow-x: auto;
    height: auto;
    max-height:420px;
    border-right: 1px solid #BEBEBE;
    border-bottom: 1px solid #BEBEBE;
    border-left:1px solid #BEBEBE;
}

.tgrid-tableheadercontainer {
    border: 1px solid #BEBEBE;
    border-right: none;
    border-bottom: none;
}

.tgird-pagination {
    padding-top: 3px;
    text-align: center;
}

.tgrid-mobile-group {
    border-left: 1px solid #d7d7d7;;
    border-right: 1px solid #d7d7d7;;
    border-bottom: 1px solid #d7d7d7;;
}

.tgird-page-current,
.tgird-page-number {
    margin-left: 1px;
    margin-right: 1px;
    min-width: 25px;
    width: auto;
    height: 18px;
    border: 1px solid #BEBEBE;
    display: inline-block;
}

.tgird-page-number {
    color: #555;
    cursor: pointer;
}

.tgird-page-current {
    color: #A39A9A;
    cursor: default;
}

.tgrid-mobile-container {
    height: 420px;
    overflow-y: scroll;
    border-left: 1px solid #BEBEBE;
    border-right: 1px solid #BEBEBE;
    border-bottom: 1px solid #BEBEBE;
}

.tgrid-inline-block {
    display: inline-block;
}

/*Arrows*/
.tgrid-arrow-down {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(images/arrow_down.png) no-repeat;
    margin-left: 5px;
}

.tgrid-arrow-up {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(images/arrow_up.png) no-repeat;
    margin-left: 5px;
}

.tgrid-buisy-indicator {
    display: inline-block;
    position: absolute;
    left: 0px;
    right: 0px;
    width: 0;
    height: 0;
    background-color: rgba(122, 188, 255, 0.44);
}

.tgrid-scroll {
    display: inline-block;
    position: absolute;
    right: 1px;
    top: 30px;
    bottom: 36px;
    width:32px;
    overflow: scroll;
}

.tgrid-scroll div, .tgrid-mobile-group-header-container, .tgrid-mobile-group-indent-div {
    display: inline-block;
}

.tgrid-mobile-indent-div, .tgrid-mobile-div{
    display:inline-table;
    color: grey;
}

.details:hover, .details:focus{
    opacity: 0.9;
}
td a {
    text-decoration:none;
}


#main{
    width: 567px;
    height: auto;
    padding: 40px 7px 40px 7px;
    background:lightgray;
}

.tgrid-filter-popup {
    position: absolute;
    top: 16px;
    padding: 3px;
    z-index:1;
    border: 1px solid #BEBEBE;
    color: grey;
}

.tgrid-filter-popup-container>select, .tgrid-filter-popup-container>button, .tgrid-filter-popup-container>input {
    color: #555;
}
.tgrid-filter-popup>select, .tgrid-filter-popup>button, .tgrid-filter-popup>input {
    color: #555;
}
.tgrid-filter-popup > button {
    width: 70px;
    height:auto;
}

.tgrid-display-none{
    display: none;
}

 .tgrid-filter-indicator, .tgrid-filter-button{
    display: inline-block;
    text-align: right;    
    height: 16px;
    width: 16px;
    position: absolute;
    top: 2px;
    right: 2px;
}

.tgrid-mobile-filter-button, .tgrid-mobile-filter-button-active {
    display: inline-block;
    text-align: right;    
    height: 32px;
    width: 32px;
    position: absolute;
    top: 2px;
    right: 2px;
}

.tgrid-filter-indicator, .tgrid-filter-button {
    background: url(images/filter.png) no-repeat;
}

.tgrid-mobile-filter-button {
    background: url(images/filter_mobile.png) no-repeat;
}

.tgrid-mobile-filter-button-active{
    background: url(images/filter_mobile_active.png) no-repeat;
}

.tgrid-group-button-active{
    background: url(images/group_mobile_active.png) no-repeat center;
    
}
.tgrid-group-button {
    background: url(images/group_mobile.png) no-repeat center;
   /*background-color: #BEBEBE;*/
}

.tgrid-group-button, .tgrid-group-button-active {
    display: inline-block;
    text-align: right;    
    height: 32px;
    width: 32px;
    position: absolute;
    top: 2px;
    right: 40px;
}

.tgrid-group-indicator  {
    background: url(images/group.png) no-repeat;
    display: inline-block;
    text-align: right;    
    height: 16px;
    width: 16px;
    position: absolute;
    top: 2px;
    right: 7px;
}


.tgrid-sort-button,.tgrid-sort-button-asc, .tgrid-sort-button-desc, .tgrid-sort-indicator-asc, .tgrid-sort-indicator-desc {
    display: inline-block;
    text-align: right;    
    height: 16px;
    width: 16px;
    position: absolute;
    top: 2px;
    right: 44px;
}

.tgrid-sort-button, .tgrid-sort-button-asc, .tgrid-sort-button-desc {
    display: inline-block;
    text-align: right;    
    height: 32px;
    width: 32px;
    position: absolute;
    top: 2px;
    right: 76px;
}
.tgrid-sort-button {
    background: url(images/no_sort_mobile.png) no-repeat center;
}

.tgrid-sort-button-asc{
    background: url(images/arrow_up_mobile.png) no-repeat center;
}

.tgrid-sort-button-desc{
    background: url(images/arrow_down_mobile.png) no-repeat center;
}

.tgrid-sort-indicator-asc{
    background: url(images/arrow_up.png) no-repeat;
}

 .tgrid-sort-indicator-desc {
    background: url(./images/arrow_down.png) no-repeat;
}

.tgrid-group-button, .tgrid-group-button-active,
.tgrid-mobile-filter-button, .tgrid-mobile-filter-button-active,
.tgrid-sort-button,.tgrid-sort-button-asc, .tgrid-sort-button-desc {
    background-color: whitesmoke;
    border: 1px solid #A39A9A;
    border-radius: 2px;
}

th.tgrid-placeholder {
    min-width: 18px;
}


.tgrid-group-by-element {
    margin: 4px;
    padding: 2px;
    border: 1px solid #BEBEBE;
    height: 20px;
    min-width: 100px;
    float:left;
    position: relative;
    text-align: center;
}

.tgrid-group-by-element .tgrid-delete-button{   
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(images/delete.png) no-repeat;
    position: absolute;
    right: 2px;
    top: 4px;
    opacity: 0.8;
}


.tgrid-group-by-panel, .tgrid-mobile-group-header {    
    height: 33px;
    border-collapse: collapse;
    background-color: whitesmoke;
    border-top: 1px solid #BEBEBE;
    border-left: 1px solid #BEBEBE;
    border-right: 1px solid #BEBEBE;
}

.tgrid-goup-button {
    background-image: url(images/group_menu.png);
    height: 24px;
    width: 24px;
}

.tgrid-mobile-button, .tgrid-mobile-button-active {
    background-image: url(images/menu.png);
    height: 32px;
    width: 32px;
}
.tgrid-mobile-button {
    background-image: url(images/menu.png);  
}
.tgrid-mobile-button-active {
    background: url(images/menu_active3.png) no-repeat;
}

.tgrid-goup-button, 
.tgrid-mobile-button, .tgrid-mobile-button-active  {
    display: inline-block;
    background-repeat: no-repeat;
    margin-top: 4px;   
    margin-left: 3.5px;
    margin-bottom: 4px;
    background-color: #EEE9E9;
    background-color: -moz-linear-gradient(top, #EEE9E9rgba(222,239,255,1) 0%, #DDDCDC 100%);
    background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,#DDDCDC));
    background-color: -webkit-linear-gradient(top, #EEE9E9 0%,#DDDCDC 100%);
    background-color: -o-linear-gradient(top, #EEE9E9rgba(222,239,255,1) 0%,#DDDCDC 100%);
    background-color: -ms-linear-gradient(top, #EEE9E9 0%,#DDDCDC 100%);
    background-color: linear-gradient(to bottom, #EEE9E9rgba(222,239,255,1) 0%,#DDDCDC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 );   
    border: 1px solid grey;
    border-radius: 5px;
}

.tgrid-mobile-button .tgrid-header-cell-content {
    width: 80px;
}

.tgrid-mobile-button .tgrid-header-cell-buttons {
    min-width: 120px;
}

ul.tgrid-menu {
    position:absolute;
    padding: 0px;
    list-style-type: none;
    background: white; 
    border: 1px solid gray;
    margin: 32px 0px 0px 0px; 
    float: left;
    text-align: center;
    z-index:1;
}

ul.tgrid-menu li, ul.tgrid-mobile-menu li  {
    height: 22px;
    margin: 4px !important;
    min-width: 120px;
    position: relative;
    border: 1px solid #BEBEBE;
}
ul.tgrid-mobile-menu li {
    height: 38px;
}
.tgrid-mobile-details {
    background-color:#FAFAFA;
    padding-left: 10px;
    color: brown;
}

.hidden {
    display:none !important;
}

.visible{
    display:block !important;
    width: 100%;
}
.activeStyle
{
    background:green;
    color:green;
}

.tgrid-table tbody tr td input{
    display:none;
}

tr:nth-child(even), .tgrid-mobile-row:nth-child(even) {
  background-color: whitesmoke;
}

tr:nth-child(odd), .tgrid-mobile-row:nth-child(odd) {
  background-color: white;
}

.tgrid-mobile-menu-li-column-header-container {
    width: 150px;
    height: 38px;
    position: relative;
}

.tgrid-mobile-menu-li-column-header{
    position: absolute;
    top: 50%;
    left:0px;
    margin-top: -11px;
}

.tgrid-filter-popup-button {
    width: 70px;
    height: 20px;
    display: inline-block;
    border: 1px solid #BEBEBE;
    text-align: center;
}

.tgrid-footer {
    color: #555;
    background: whitesmoke;
    height:25px;
    border-bottom: 1px solid #BEBEBE;
    border-left: 1px solid #BEBEBE;
    border-right: 1px solid #BEBEBE;
    background: #EEE9E9; /* Old browsers */
    background: -moz-linear-gradient(top, #EEE9E9rgba(222,239,255,1) 0%, #DDDCDC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,#DDDCDC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #EEE9E9 0%,#DDDCDC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #EEE9E9rgba(222,239,255,1) 0%,#DDDCDC 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #EEE9E9 0%,#DDDCDC 100%); /* IE10+ */
    background: linear-gradient(to bottom, #EEE9E9rgba(222,239,255,1) 0%,#DDDCDC 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */
}      

/* Mobile */
@media (max-width: 480px) {
    .desktop {
        display: none;
    }
    .tgrid-filter-popup {
		position: fixed;
		top: 16px;
		border: 1px solid #BEBEBE;
		padding: 3px;
		z-index:1;
        width: 160px;
        height: 105px;
        top: 50%;
        left: 50%;
        margin-left: -105px;
        margin-top: -50px;
	}
	ul.tgrid-mobile-menu {
        position:fixed;
        padding: 0px;
        list-style-type: none;
        background: white; 
        border: 1px solid gray;
        margin: 32px 0px 0px 0px; 
        float: left;
        text-align: center;
        z-index:2;
        width: 240px;
        height: auto;
        left: 50%;
        top: 30%;
        margin-left: -140px;        
    }
}

/* Desktop */
@media (min-width: 481px) {
    .mobile {
        display: none;
    }
}