.tgrid-mobile-container {
    height: 492px;
}

.mobile-phone-wrapper {
    position:relative;
}

.mobile-grid-container {
    position:absolute;
    top: 136px;
    left: 57px;
    background: white;
    height: 519px;
    width: 318px;
}

body{
    margin: 0px;
}

.footer {
    color: #757575;
    text-align: center;
}

