.tgrid-tablebodycontainer {
    height: 180px;
}

#tableOptionChanges{
    margin: 0 0 10px 0;
    border: 1px solid #BEBEBE;
    width: auto;
}

#changeOptionsCheckboxes{
    display: inline-block;
    color: #555;
    margin: 0 0 10px 0;
}

.bordedHeader{
    color: #555;
    border: 1px solid #BEBEBE;
    width: 145px;
    height: 25px;
    padding: 5px 5px 1px 2px;
    margin: 5px 0;
}
