body {
    font: "Segoe UI","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
    color: #3e3e3e;
    height:100%;
}
body .mb20 {
    margin-bottom: 20px;
}
body .ml50 {
    margin-left: 50px;
}
body .pt30 {
    padding-top: 30px;
}
body .tac {
    text-align: left;
}
body .fl {
    float: left;
}
body .mr30 {
    margin-right: 30px;
}
body .mt-20 {
    margin-top: -20px;
}

body .fr {
    float: right;
}
body .db {
    display: block;
}
body .pb120 {
    padding-bottom: 120px;
}
body .pt20 {
    padding-top: 20px;
}
body .ml30 {
    margin-left: 30px;
}
dl.key-value:before, .sfFormBox:before, .sfFormDropdown:before, .sfFormBlock:before, .sfFormSubmit:before, .sfFormCheckboxlist:before, .sfSubmitBtnWrp:before, .sfprofileChangePasswordFormWrp .sfFieldWrap:before, .login-united .login-signup>div:before, #wrapper>header:before, header .centered-content:before, .shade:before, #content .ty-started:before, .sfpostContent:before, .sfcommentDetails:before, .post-sidebar ul:before, .sf_pagerNumeric:before, .whs-copy:before, .list-videos:before, .events-upcoming article:before, .case-studies article:before, dl.key-value:after, .sfFormBox:after, .sfFormDropdown:after, .sfFormBlock:after, .sfFormSubmit:after, .sfFormCheckboxlist:after, .sfSubmitBtnWrp:after, .sfprofileChangePasswordFormWrp .sfFieldWrap:after, .login-united .login-signup>div:after, #wrapper>header:after, header .centered-content:after, .shade:after, #content .ty-started:after, .sfpostContent:after, .sfcommentDetails:after, .post-sidebar ul:after, .sf_pagerNumeric:after, .whs-copy:after, .list-videos:after, .events-upcoming article:after, .case-studies article:after {
    content: "";
    display: table;
}
dl.key-value:after, .sfFormBox:after, .sfFormDropdown:after, .sfFormBlock:after, .sfFormSubmit:after, .sfFormCheckboxlist:after, .sfSubmitBtnWrp:after, .sfprofileChangePasswordFormWrp .sfFieldWrap:after, .login-united .login-signup>div:after, #wrapper>header:after, header .centered-content:after, .shade:after, #content .ty-started:after, .sfpostContent:after, .sfcommentDetails:after, .post-sidebar ul:after, .sf_pagerNumeric:after, .whs-copy:after, .list-videos:after, .events-upcoming article:after, .case-studies article:after {
    clear: both;
}
h2, .h2 {
    font: 400 40px/1.2 "Segoe UI Light","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
    color: #313131;
}
h3, .h3 {
    font: 400 22px/1.2 "Segoe UI","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
}

.sell-table
{
    text-align: center;
    font-size: 16px;
    margin-top: 100px;
    margin-right:auto;
    margin-left:auto;
}

.sell-table thead
{
    color: #2F2727
}

.sell-table thead td
{
    width: 184px;
    height: 64px;
    background-color: whitesmoke;
    border: 1px solid rgb(185, 183, 183);
}

.sell-table tbody
{
    color: black;
}

    .sell-table tbody td:first-child {
        border: 1px solid rgb(185, 183, 183);
        background-color: whitesmoke;
        color: #2F2727;
    }

.sell-table tbody td
{
    width: 184px;
    height: 64px;
    background-color: rgb(185, 183, 183);
    border: 1px solid #9d9d9d;
}

.empty-cell
{
    background-color: transparent !important;
    border: none !important;
}

.general-description
{
    color: whitesmoke;
    font-size: 16px;
    margin-left: 184px;
    margin-top: 10px;
}

.small-header-content{
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

.page-web span, .page-mobile span, .page-dataviz span, .page-web div, .page-mobile div, .page-dataviz div, .page-web section, .page-mobile section, .page-dataviz section {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}
header, section, footer, article, figure, figcaption, aside, time {
    display: block;
}
header h1, header h2, header h3, header p, header ul {
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
h1, h2, h3, h4, h5 {
    color: #2e2e2e;
    margin-bottom: 0.6em;
}
h4, .h4 {
    font: 400 20px/1.2 "Segoe UI",Arial;
}
a {
    text-decoration: none;
    color: #b6424e;
    cursor: pointer;
    outline: none !important;
}
img, fieldset {
    border: none;
}
#tgrid-navi {
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    min-width: 1124px;
    font-size: 10px;
    line-height: 16px;
    background-color: #8B7D7B;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10000;
    font-family: "Segoe UI",Arial;
    position: absolute;
}
#tgrid-bar {
    height: 232px;
    z-index: 5;
    position: relative;
}

#tgrid-navi .inner {
    position: relative;    
}
#tgrid-logo img {
    width: 100px;
    height: 30px;
    margin-top:1px;
}

#tgrid-log img{
    margin-top:18px;
}

#wrapper {
    padding: 232px 0 23px 0;
    width: 100%;
    min-width: 1124px;
    position: absolute;
    top: 0;
    left: 0;
}
#wrapper>header {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    color: #fff;
    background: #efefef;
}
header .centered-content {
    position: relative;
    z-index: 2;
}
.header-main {
    height: 120px;
    position: relative;
    z-index: 2;
    overflow: visible !important;
}
.header-content, .centered-content {
    font-size: 14px;
}
.centered-content {
    width: 940px;
    margin: 0 auto;
    position: relative;
    clear: both;
}
.centered-content.header-main{
    height: 56px;
}
#logo {
    width: 180px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
}
#logo img{
    width:230px;
    height:80px;
}
#tgrid-logo{
    color: #fff;
    text-decoration: none;
    top: 0;
    left: 0;
    width: 100px;
    height: 30px;
}
.tgrid-nav {
    position: absolute;
    right: 0;
    top: 10px;
    max-width: 75%;
    font-size: 0;
    margin-top: 5px;
}
.tgrid-nav a, .tgrid-nav .nav-submenu {
    display: inline-block;
    position: relative;
}
.tgrid-nav a {
    margin-left: 40px;
    font: 21px/1.4 "Segoe UI",Arial;
    color: #2e2e2e;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}
.tgrid-nav a span {
    font-size: 10px;
    position: relative;
    top: -2px;
}
.nav-submenu nav {
    display: none;
    padding: 15px 20px 10px;
    position: absolute;
    left: 50%;
    margin-left: -85px;
    top: 40px;
    z-index: 100;
    min-width: 170px;
    background: #22252d url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #22252d 0%, #474c57 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #22252d), color-stop(100%, #474c57));
    background: -webkit-linear-gradient(top, #22252d 0%, #474c57 100%);
    background: -o-linear-gradient(top, #22252d 0%, #474c57 100%);
    background: -ms-linear-gradient(top, #22252d 0%, #474c57 100%);
    background: linear-gradient(to bottom, #22252d 0%,#474c57 100%);
    border: 1px solid #22252d;
    border-radius: 10px;
}
.nav-submenu nav a {
    margin-left: 0;
    font: 16px/28px DroidSansWeb,"Segoe UI","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
    color: #c1c1c1;
}
.nav-submenu nav a:hover, .nav-submenu nav a.active, .nav-submenu nav a:focus {
    color: #fff;
}
.tgrid-nav a.button {
    padding: 7px 19px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-clip: padding-box;
    font-size: 17px;
    position: relative;
    top: -1px;
}
.button, .sfcommentsFormWrp input[type="submit"], button, input[type="submit"] {
    font: 14px/normal DroidSansWeb,"Segoe UI",Arial,Helvetica,sans-serif;
    color: #292929 !important;
    text-decoration: none;
    padding: 8px 15px 6px;
    display: inline-block;
    position: relative;
    z-index: 2;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background: #ababab;
    box-shadow: 0 10px 30px rgba(255,255,255,0.14) inset,0 1px 0 rgba(255,255,255,0.2);
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.main-nav {
    position: absolute;
    top: 20px;
    right: 0;
}
.main-nav a {
    margin-left: 26px;
    color: #737373;
    font: 13px/1.5 DroidSansWeb,"Segoe UI","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    outline: none;
}
.main-nav a, .main-nav .nav-submenu {
    display: inline-block;
    position: relative;
}
.main-nav a span {
    font: 400 8px/1.4 DroidSansWeb,"Segoe UI",Arial,Helvetica,sans-serif;
    position: relative;
    top: -1px;
}
.main-nav .nav-submenu nav {
    top: 33px;
    margin-left: -95px;
}
.nav-submenu nav {
    display: none;
    padding: 15px 20px 10px;
    position: absolute;
    left: 50%;
    margin-left: -85px;
    top: 40px;
    z-index: 100;
    min-width: 170px;
    background: #22252d url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #22252d 0%, #474c57 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #22252d), color-stop(100%, #474c57));
    background: -webkit-linear-gradient(top, #22252d 0%, #474c57 100%);
    background: -o-linear-gradient(top, #22252d 0%, #474c57 100%);
    background: -ms-linear-gradient(top, #22252d 0%, #474c57 100%);
    background: linear-gradient(to bottom, #22252d 0%,#474c57 100%);
    border: 1px solid #22252d;
    border-radius: 10px;
}
.main-nav .nav-submenu nav a {
    font: 400 14px/22px DroidSansWeb,"Segoe UI",Arial,Helvetica,sans-serif;
}
.header-content {
    background: #8B0000;
    width: 100%;
    line-height: 22px;
    position: relative;
    z-index: 1;
    /*border-top: 1px solid #fff;*/
    box-shadow: inset 0px 10px 8px -10px rgba(0,0,0,0.5),inset 0px -10px 8px -10px rgba(0,0,0,0.4);
    background:  -webkit-gradient(radial, center center, 0, center center, 460, from(#b6424e), to(#2F2727));
    background:  -webkit-radial-gradient(circle, #FF0000, #2F2727);
    background:  -moz-radial-gradient(circle, #FF0000, #2F2727);
    background:  -ms-radial-gradient(circle, #FF0000, #2F2727);    
}
.header-content .centered-content {
    padding: 30px 0 35px;
}
.header-content .centered-content .sfContentBlock img{
    height:265px;
    width:341px;
}
.header-content .text {
    width: 470px;
    margin-left: 50%;
}
h1, .header-content h2 {
    font: 400 30px/1.2 "Segoe UI",Arial;
    color: #fff;
    margin-bottom: -5px;
}
p, address {
    font-style: normal;
    color:black;
}
.header-content img {
    float: left;
    margin: 0 0 0 15px;
}
.header-content a.button {
    text-decoration: none;
}
.header-content a {
    color: #fff;
    text-decoration: underline;
}
.dimmed {
    background: #b05b1b;
    background: rgba(0,0,0,0.4);
}

.text a.button {
    padding: 5px 15px 6px;
}
.third-level-navi {
    width: 100%;
    clear: both;
    float: left;
    background: #e2e2e2;
}
.third-level-navi .inner {
    width: 980px;
    height: 50px;
    margin: 0 auto;
    clear: both;
}
.third-level-navi .active, .third-level-navi a:hover {
    color: #b6424e;
}
.third-level-navi a {
    padding: 4px 20px 0;
    position: relative;
    display: inline-block;
    color: #2e2e2e;
    font: 16px/46px DroidSansWeb,"Segoe UI",Arial;
    text-decoration: none;
    text-shadow: 0 1px #fff;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
}
#content {
    width: 1214px;
    padding:1px 10px 0 10px;
    margin: 0 auto;
    clear: both;
    position: relative;
    z-index: 4;
    zoom: 1;
    font-size: 14px;
    min-height: 1000px;
    background-color:white;
    border-left:1px solid rgb(162, 158, 158);
    border-right:1px solid rgb(162, 158, 158);
    height:100%;
}

.shade, #content .ty-started {
    font-size: 14px;
    clear: both;
    position: relative;
    padding: 0 0 67px 0;
}

.box-faq {
    margin-top: 30px;
}
.box {
    display: block;
    clear: both;
    padding: 30px 46px;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.45),0 0 40px #f5f5f5 inset;
}
.box-faq h3 {
    float: left;
    margin-bottom: 0;
    margin-top: 0;
}
.box h3 {
    text-shadow: 0 1px 0 #fff;
}
.box-faq .button, .box-faq .sfcommentsFormWrp input[type="submit"], .sfcommentsFormWrp .box-faq input[type="submit"] {
    float: right;
}
footer {
    color: whitesmoke;
    background-color: #4F4F4F;
    line-height: 20px;
    clear: both;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
footer .centered-content {
    height: 100%;
    position: relative;
    padding-top: 3px;
    text-align: center;
}
#footer-navi a {
    display: inline-block;
    font-size: 12px;
    padding: 15px 9px 0;
    color: black;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    outline: none;
}
#footer-navi a:first-child {
    padding-left: 0;
}
#footer-navi .active,#footer-navi a:hover{
    color: whitesmoke;
    position: relative;
}


#left{
    width:10px;
    position:absolute; 
    background: -webkit-gradient(linear, left top, right top, from(rgb(185, 183, 183)), to(whitesmoke));
    background: -webkit-linear-gradient(right, rgb(185, 183, 183), whitesmoke);
    background: -moz-linear-gradient(right, rgb(185, 183, 183), whitesmoke);
    background: -ms-linear-gradient(right, rgb(185, 183, 183),whitesmoke);
    background: -o-linear-gradient(right, rgb(185, 183, 183), whitesmoke);    
}
#bottom{
    width:1903px;
    height: 2px;   
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#2F2727));
    background: -webkit-linear-gradient(top, #2F2727, whitesmoke);
    background: -moz-linear-gradient(top, #2F2727, whitesmoke);
    background: -ms-linear-gradient(top, #2F2727, whitesmoke);
    background: -o-linear-gradient(top, #2F2727, whitesmoke);
}
#top{
    width:1903px;
    height: 2px;   
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2F2727), to(rgba(0, 0, 0, 0.06)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.06), #2F2727);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.06), #2F2727);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.06), #2F2727);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.06), #2F2727);
}
#right{
    width:10px;
    position:absolute; 
    background-color: rgba(0, 0, 0, 0.06);
    background: -webkit-gradient(linear, left top, right top, from(whitesmoke), to(rgb(185, 183, 183)));    
    background: -webkit-linear-gradient(right, whitesmoke, rgb(185, 183, 183));
    background: -moz-linear-gradient(right, whitesmoke, rgb(185, 183, 183));
    background: -ms-linear-gradient(right, whitesmoke,rgb(185, 183, 183));
    background: -o-linear-gradient(right, whitesmoke, rgb(185, 183, 183));
}
#list{
    display: inline-block;
    width:260px;
    height:auto;
    margin: 20px 0 40px 0;
}

#list ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    margin-bottom:20px;
}

#list .device{   
    padding: 3px;
    font-size: 24px;
    color: #4e4e4e;
    line-height: 1.5;
    background-color: lightgray;
    display:inline-block;
    width: 100%;
}

#UI a {
    display: inline-block;
    padding: 3px 4px 3px 4px;
    color: #4e4e4e;
    line-height: 1.5;
    margin-top: 32px;
}

#main-frame{
    visibility: visible;
    height: 530px;
    width: 700px;   
    margin-left: 20px;
    border: none;
}
#list ul li a.active, #UI a.active{
    background: #b6424e;
    color: white;
}

#ace-code{ 
    height: 560px;
    margin-left: 20px;
    border: 1px solid #cacaca; 
    border-top:none;
    margin-bottom: 20px; 
    margin-top: 20px;
}

#ace-code header {
    font-size: 12px;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    background-color: whitesmoke;
    height: 26px;
    user-select: none;
}

#ace-code .header-draggable {
    position: static;
    width: 100%;
    height: 14px;
    font-size: inherit;
    cursor: ns-resize;
}

#ace-code .editor-menu {
    margin: 3px 0 0 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ace-code .editor-menu > li {
    float: left;
    margin: 0;
    margin-right: 4px;
    list-style-type:none;
    user-select: none;
}

#ace-code .editor-menu > li a.active {
    color: #fff;
    background-color: gray;
    border: 1px solid #474c57;
}

#ace-code .editor-menu > li a{
    color: gray;
    text-shadow:none;
    width: 48px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
    text-align:center;
    border: 1px solid #BEBEBE;
}

#ace-code header ul{
    padding-left: 3px;
}

.editor-container div{
    width: 700px;
    height: 520px;
}

.syntaxhighlighter .toolbar{
    display:none;
}

.syntaxhighlighter table{
    max-width: 590px !important;
    max-height: 530px !important;
}

.gutter{
    display: none;
}

#UI{
    text-align: left;
    margin-bottom: 10px;
}

.mobile-phone-wrapper {
    position: relative;
    display: block;
}

.mobile-grid-container {
    position:absolute;
    top: 136px;
    left: 202px;
    background: white;
    height: 519px;
    width: 318px;
}

.cell-phone-img-container {
    margin-left: 145px;
}

.license {
    font-family: 'Segoe UI';
    font-size: 16px;
    max-width: 800px;
    line-height: 20px;
}

.license > div {
    margin-bottom: 20px;
}

.agree {
    font-family: 'Segoe UI';
    font-size: 18px;
    max-width: 800px;
    line-height: 20px;
}

.agree > div {
    margin-bottom: 20px;
}

.agree > div > div {
    line-height: 48px;
}

.agree a {
    min-width: 100px;
    text-align: center;
}

#mobileImage{
    display: none;
}

#versionNote{
    margin: 20px 0 0 22px;
    font-size: 12px;
}
.documentation-content{
    display:inline-block; 
    margin-left: 370px;
}

#listDocs{
    display: inline-block;
    width:260px;
    height:auto;
    margin: 20px 0 40px 0;
    position:absolute;
}
#listDocs ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    margin-bottom:20px;
}
#listDocs ul a {
    display: inline-block;
    padding: 3px 4px 3px 4px;
    color: #4e4e4e;
    line-height: 1.5;
}
#listDocs .device{   
    padding: 3px;
    font-size: 24px;
    color: #4e4e4e;
    line-height: 1.5;
    display:inline-block;
}

#listDocs ul a:hover, #listDocs ul a:focus {
    color:#b6424e;
}

#listDocs ul li a.active {
background: gray;
color: white;
}

.secondLevel{
    margin: 0 30px;
}

.sectionContainer{
    display: inline;
}

div.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    margin: 2px;
    cursor: default;
    background: url(images/add.png) no-repeat;
}

.activeSection div.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    margin: 2px;
    cursor: default;
    background: url(images/minus.png) no-repeat;
}

#help-content-holder{
    width: 722px;
}


#header-middle  {
height: 81px !important;
background-color: #99333e;
}

.l-color-wrapper {
position: absolute;
left: 0;
top: 0;
height: 100%;
}


.l-color-outside {
position: absolute;
right: 100%;
top: 0;
width: 1000%;
height: 100%;
}

#header-middle .l-color {
width: 242px;
}

#header-top {
background-color: #131313;
position: relative;
height: 35px!important;
}

#header-top .wrapper {
position: relative;
}

.wrapper {
width: 1214px;
margin: 0 auto;
position: relative;
height:100%;
}

.clearfix {
zoom: 1;
}

#header-top .l-color, #header-top .l-color-outside {
background-color: #2d2d2d;
}

.logo-image {
position: relative;
}

#header-bottom {
background: rgba(25,25,26,0.92);
border-top: 1px solid #4D4D52;
height:116px !important;
}

#header-bottom .l-color, #header-bottom .l-color-outside {
background-color: #424141;

}

#header-bottom .l-color-wrapper {
width: 245px;
background-color: rgba(66,65,65,.5);
}

#header-middle .l-color-wrapper {
width: 255px;
background-color: rgba(182,66,78,.5);
}

#header-top .l-color-wrapper {
width: 245px;
background-color: rgba(45,45,45,.5);
}

#header-middle .l-color, #header-middle .l-color-outside {
background-color: #b6424e;
}

.l-color {
position: absolute;
left: 0;
top: 0;
width: 233px;
height: 100%;
}

#header-top .l-color-triangle {
position: absolute;
top: 0;
right: -9px;
border-bottom: 36px solid #2d2d2d;
border-left: 0px solid transparent;
border-right: 9px solid transparent;
display: block;
height: 0;
width: 0;
transition: border 0.3s ease-in-out 0s;
-moz-transition: border 0.3s ease-in-out 0s;
-webkit-transition: border 0.3s ease-in-out 0s;
}

#header-top .l-color-wrapper-triangle {
position: absolute;
top: 0;
right: -9px;
border-bottom: 34px solid rgba(45, 45, 45, 0.5);
border-left: 0px solid transparent;
border-right: 9px solid transparent;
display: block;
height: 0;
width: 0;
transition: border 0.3s ease-in-out 0s;
-moz-transition: border 0.3s ease-in-out 0s;
-webkit-transition: border 0.3s ease-in-out 0s;
}

#header-middle .l-color-triangle {
position: absolute;
top: 0;
right: -20px;
border-bottom: 81px solid #b6424e;
border-left: 0px solid transparent;
border-right: 20px solid transparent;
display: block;
height: 0;
width: 0;
transition: border 0.3s ease-in-out 0s;
-moz-transition: border 0.3s ease-in-out 0s;
-webkit-transition: border 0.3s ease-in-out 0s;
}

#header-middle .l-color-wrapper-triangle {
position: absolute;
top: 0;
right: -20px;
border-bottom: 81px solid rgba(182,66,78,.5);
border-left: 0px solid transparent;
border-right: 20px solid transparent;
display: block;
height: 0;
width: 0;
transition: border 0.3s ease-in-out 0s;
-moz-transition: border 0.3s ease-in-out 0s;
-webkit-transition: border 0.3s ease-in-out 0s;
}

#header-bottom .l-color-triangle {
position: absolute;
top: 0;
right: -29px;
border-top: 116px solid #424141;
border-left: 0px solid transparent;
border-right: 29px solid transparent;
display: block;
height: 0;
width: 0;
transition: border 0.3s ease-in-out 0s;
-moz-transition: border 0.3s ease-in-out 0s;
-webkit-transition: border 0.3s ease-in-out 0s;
}

#header-bottom .l-color-wrapper-triangle {
position: absolute;
top: 0;
right: -29px;
border-top: 116px solid rgba(66,65,65,.5);
border-left: 0px solid transparent;
border-right: 29px solid transparent;
display: block;
height: 0;
width: 0;
transition: border 0.3s ease-in-out 0s;
-moz-transition: border 0.3s ease-in-out 0s;
-webkit-transition: border 0.3s ease-in-out 0s;
}

.pull-left{
    float: left;
}

.innerImg{
    width: 231px;
    height: 81px;
    margin: 0px 247px 20px 0;
    position: relative;
}

.gridName{
    font-size: 65px;
    margin: 0;
}

#tgrid-log:hover, #tgrid-log:focus{
    text-decoration:none;
}

.descriptionText{
    color:#DEDEE6;
    font-size: 16px;
    position: relative;
    text-align: right;
}

.widget.top-widget.clearfix{
    clear: both;
}

#tgrid-logo2{
    float: left;
    position: relative;
    margin: 0 50px 0 0px;
}

#tgrid-logo2 > img{ 
    margin-top:-13px;
}

.buttons {
    float: right;
}
.button.downloadMain{
    background: #99333e;
color: white !important;
}

#main-menu{
    margin-top:17px;
}

#main-menu li{
    list-style: none;
    float: left;
    margin: 0;
    position: relative;    
}

#main-menu > li > a {
display: block;
font-size: 16px;
color:#DEDEE6;
font-weight: 300;
text-transform: uppercase;
padding: 8px 15px;
border-left: 1px solid #DEDEE6;
font-family: 'Segoe UI', sans-serif;
margin-bottom:5px;
}

#main-menu > li > a:hover{
text-decoration:none;
color:white;
}

#main-menu > li:first-child > a {
padding-left: 0;
border-left: none;
}

.dropdown-menu{
    margin-top: 0px;
    background: rgba(25,25,26,0.92);
    border-radius: 0px;
}

.dropdown-menu > li{
    width:100%;
}

.dropdown-menu > li > a{
    color:#DEDEE6;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Segoe UI', sans-serif;    
}

.dropdown-toggle.open li{
    width:100%;
}

.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{
    background:#b6424e;
    color: white;
}

.panel-group .panel{
    border-radius:0;
}

.panel-body{
    padding:0;
}

.panel-body a{
    display: block;
    padding: 10px 10px 10px 15px;
    color: black;
    text-decoration: none;
}
.panel-body a:hover{
    background:#F5F5F5;
}

.panel-title > a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 10px 15px;
}

.panel-collapse a{
    font-size:16px;
}

.panel-body a.active{   
    background-color:#b6424e;
    color: white;
}

.rightColomn{
    display:inline-block; 
    vertical-align: top;
    margin-top:20px;
    margin-left:90px;
}

.panel-heading{
    height: 39px;
    width: 258px;
    padding: 0;
}

.panel-title{
    height: 100%;
    width: 100%;
}

.pull-right{
        float:right;
    }

#main-menu > li:last-child > a {
border-right: 1px solid #DEDEE6;
}

@media screen and (max-width: 1235px){
    .documentation-content{
        margin-left:280px;
    }

    .descriptionText{
        margin-left:272px;
    }

    .wrapper{
        width:1014px;
    }   

    #tgrid-navi{
        min-width:1024px;
    }

    #main-menu{
        margin-top:0;
    }  

    #tgrid-logo2{
        margin: 0 10px 0 0;
    }

    .innerImg{
        margin: 0 57px 20px 0;
    }

    .rightColomn{
        margin-left: 35px;
    }

    #content{
        width:auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1px 0 0 0;
        height: 100%;
    }

    #wrapper{
        min-width:1024px;
    }    

    .downloadDiv{
        min-width:1014px;
        margin-left:10px;
    }

    #GeneralBox_Content_C012_Col00{
        padding: 0 10px 0 10px;
    }

    #main-menu .dropdown-menu > li:hover,#main-menu .dropdown-menu > li:focus{
    background:#b6424e;
    color: white;
}
}

.dropdown-toggle:hover > ul.dropdown-menu, .dropdown-toggle:focus > ul.dropdown-menu {
    display: block;    
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #header-bottom {
        height: 117px !important;
    }
}
