.tgrid-root {
    position: relative;
}

.tgrid-table {
    border-collapse: collapse;
    width: 100%;
    /*background: rgb(222,239,255);*/
}

    .tgrid-table thead tr th {       
        border-right: 1px solid #BEBEBE;
        cursor: pointer;
        margin: 1px;
        padding: 2px;
        background: #EEE9E9; /* Old browsers */
        background: -moz-linear-gradient(top, #EEE9E9rgba(222,239,255,1) 0%, #DDDCDC 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,#DDDCDC)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #EEE9E9 0%,#DDDCDC 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #EEE9E9rgba(222,239,255,1) 0%,#DDDCDC 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #EEE9E9 0%,#DDDCDC 100%); /* IE10+ */
        background: linear-gradient(to bottom, #EEE9E9rgba(222,239,255,1) 0%,#DDDCDC 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */
        color:grey;
    }

.tgrid-mobile-header {
    margin: 0px;
    border-top: 1px solid #BEBEBE;
    border-left: 1px solid #BEBEBE;
    border-right: 1px solid #BEBEBE;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tgrid-table tbody tr td, .tgrid-table-group-header {
    /*padding: 2px;
    border-top: 1px solid rgb(122,188,255);
    border-left: 1px solid rgb(122,188,255);
    background-color: whitesmoke;*/
    overflow: hidden;
    line-height: 1.6em;
    vertical-align: middle;
    text-overflow: ellipsis;
    /*border-color: #BEBEBE;*/
    color: grey;
    /*border-right: 1px solid #BEBEBE;
    border-top: 1px solid #BEBEBE;*/
    padding: 2px;
}

.tgrid-table-group-header {
    border-bottom: none !important;
    border-left: none !important;
    background-color: rgb(233, 234, 235) !important;
}

.tgrid-table-indent-cell {   
    background-color: rgb(233, 234, 235)  !important;
}

.tgrid-mobile-indent-div, .tgrid-table-indent-cell{
    width: 20px;
}

.tgrid-table tbody tr.selected td {
    background-color: #dbdbde;
}

.tgrid-mobile-row, .tgrid-mobile-details, .tgrid-mobile-group-header {
    border-left: 1px solid #BEBEBE;
    border-right: 1px solid #BEBEBE;
    border-bottom: 1px solid #BEBEBE;
    background-color: whitesmoke;
}

.tgrid-mobile-container .selected {
    background-color: #dbdbde;
}

.tgrid-tablebodycontainer {
    overflow-y: scroll;
    overflow-x: auto;
    height: auto;
    max-height:420px;
    border-right: 1px solid #BEBEBE;
    border-bottom: 1px solid #BEBEBE;
    border-left:1px solid #BEBEBE;
}

.tgrid-tableheadercontainer {
    border: 1px solid #BEBEBE;
    border-right: none;
    border-bottom: none;
}

.tgrid-footer {
    /*border-left: 1px solid rgb(122,188,255);
    border-right: 1px solid rgb(122,188,255);
    border-bottom: 1px solid rgb(122,188,255);
    padding: 2px;
    background-color: #f5f8fb;
    height: 29px;*/
    /*background: whitesmoke;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #BEBEBE;
    border-left: 1px solid #BEBEBE;
    border-right: 1px solid #BEBEBE;*/
}

.tgird-pagination {
    padding-top: 3px;
    text-align: center;
}

.tgrid-group-row {
}

.tgrid-mobile-group {
    border-left: 1px solid rgb(122,188,255);
    border-right: 1px solid rgb(122,188,255);
    border-bottom: 1px solid rgb(122,188,255);
}

.tgird-page-current,
.tgird-page-number {
    margin-left: 1px;
    margin-right: 1px;
    width: 17px;
    height: 18px;
    border: 1px solid #BEBEBE;
    /*background: rgb(222, 232, 255);*/
    /*background:whitesmoke;*/
    display: inline-block;
}

.tgird-page-number {
    /*color: blue;*/
    color: black;
    cursor: pointer;
}

.tgird-page-current {
    color: #A39A9A;
    cursor: default;
}

.tgrid-mobile-container.mobile {
    overflow:auto;
    max-height:488px;
}

.tgrid-inline-block {
    display: inline-block;
}

/*Arrows*/
.tgrid-arrow-down {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(images/arrow_up.png) no-repeat;
    margin-left: 5px;
}

.tgrid-arrow-up {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(images/arrow_down.png) no-repeat;
    margin-left: 5px;
}

.tgrid-buisy-indicator {
    display: inline-block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(122, 188, 255, 0.44);
}

.tgrid-scroll {
    display: inline-block;
    position: absolute;
    right: 1px;
    top: 30px;
    bottom: 36px;
    width:32px;
    overflow: scroll;
}

.tgrid-scroll div {
    display: inline-block;
}

.tgrid-mobile-indent-div, .tgrid-mobile-div{
    display:inline-table;
    color: grey;
}

.details:hover, .details:focus{
    opacity: 0.9;
}
td a {
    text-decoration:none;
}
#main{
    width: 567px;
    height: auto;
    padding: 40px 7px 40px 7px;
    background:lightgray;
}



.condition-group-by {
    min-height: 15px;
    min-width: 25px;
    float:left;
    padding-left: 2px;
    border: 1px solid #BEBEBE;
    display:none;    
    margin-right:2px;
    background: whitesmoke;
    color: gray;
}

.delete-condition-group-by {   
    padding-top: 0;
    background: #EEE9E9;
    background: -moz-linear-gradient(top, #EEE9E9rgba(222,239,255,1) 0%, #DDDCDC 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,#DDDCDC));
    background: -webkit-linear-gradient(top, #EEE9E9 0%,#C0BEBE 100%);
    background: -o-linear-gradient(top, #EEE9E9rgba(222,239,255,1) 0%,#DDDCDC 100%);
    background: -ms-linear-gradient(top, #EEE9E9 0%,#DDDCDC 100%);
    background: linear-gradient(to bottom, #EEE9E9rgba(222,239,255,1) 0%,#DDDCDC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 );
    /*border: none;*/
    border-radius: 3px;
    color: rgb(87, 86, 86);
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid #BEBEBE;
    margin-left: 5px;
}

.group-by-container {    
    display:block;
    width: auto;
    height: 33px;    
}

.condition-group-by span{
    /*color:rgb(100, 98, 98);*/
}

.list-button-container, .mobile-list-button-container {
    display: inline-block;
    height: 25px;
    width: 25px;
    background: #EEE9E9;
    background: -moz-linear-gradient(top, #EEE9E9rgba(222,239,255,1) 0%, #DDDCDC 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,#DDDCDC));
    background: -webkit-linear-gradient(top, #EEE9E9 0%,#DDDCDC 100%);
    background: -o-linear-gradient(top, #EEE9E9rgba(222,239,255,1) 0%,#DDDCDC 100%);
    background: -ms-linear-gradient(top, #EEE9E9 0%,#DDDCDC 100%);
    background: linear-gradient(to bottom, #EEE9E9rgba(222,239,255,1) 0%,#DDDCDC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 );   
    border: 1px solid #BEBEBE;
    border-radius: 5px;
}

.button-group-by, .mobile-condition-button {
    display: inline-block;
    height: 14px;
    width: 14px;
    background: url(images/glyphicons-halflings.png);
    background-position: -407px -99px;
    margin-top: 8px;
    margin-left: 5px;
    opacity: 0.6;
}

.group-by-ul, .mobile-condition-ul {
    position:absolute;
    display: none;
    list-style-type: none;
    background: #fff;
    margin: 0; 
    padding: 5px 0;
    float: left;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    background-color: whitesmoke;    
}

.group-by-ul>li, .mobile-condition-ul>li {
    display:none;
    margin: 0;
    padding: 3px 20px;
    clear: both;
    color:gray;
}

.group-by-ul > li:hover, .mobile-condition-ul>li:hover {
    color: #ffffff;
    text-decoration: none;
    background-color:#D5D7D8;
}

thead>tr> .tgrid-table-indent-cell {
    display:none;
}



.tgrid-filter-popup {
    position: absolute;
    top: 16px;
    background: white;
    display: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,rgba(152,190,222,1)));
    border: 1px solid rgb(122,188,255);
    padding: 3px;
}

.tgrid-display-none{
    display: none;
}

.tgrid-filter-button{
    background: url(images/filter.png) no-repeat;
    display: inline-block;
    text-align: right;    
    height: 16px;
    width: 16px;
    position: absolute;
    top: 2px;
    right: 2px;
}

.tgrid-applied-filter-button{
    background: url(images/applied_filter.png) no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 2px;
    right: 2px;
}

th.tgrid-placeholder {
    min-width: 17px;
}

.mobile-group-by-condition {
    height: 20px;
    width: 20px;
    background: url(images/group.jpg) no-repeat;
    display: inline-block;
    margin: 0 5px;
}

.mobile-group-by-condition.active {
    height: 20px;
    width: 20px;
    background: url(images/groupActive.jpg) no-repeat;
    display: inline-block;
    margin: 0 5px;
}

.mobile-condition-ul>li{
    display:block;
    margin: 0;
    padding: 3px 20px;
    clear: both;
    color: #222;
}

.mobile-sort-condition {
    height: 20px;
    width: 20px;
    background: url(images/no-sort.png) no-repeat;
    display: inline-block;
    margin: 0 5px;
}

.mobile-sort-condition.asc {
    background: url(images/arrow_up.png) no-repeat;  
}
.mobile-sort-condition.desc {
    background: url(images/arrow_down.png) no-repeat;  
}

.mobile-filter-condition {
    height: 20px;
    width: 20px;
    background: url(images/filter.png) no-repeat;
    display: inline-block;
    margin: 0 5px;
}
.mobile-filter-condition.filtered {
    background: url(images/filter_active.png) no-repeat;  
}
.mobile-condition-container {
    height: auto;
    width: auto;
}
.mobile-condition-show-div>span {
    border: solid 1px rgba(152,190,222,1);
    display:inline-block;
}

.mobile-condition-show-div, .mobile-condition-show-container {
    display: inline-block;
}
.show {
    display:block;
}

.mobile-condition-show-div {
    margin: 0 3px;
}

 tr:nth-child(even) {
  background-color: whitesmoke;
}


tr:nth-child(odd) {
  background-color: white;
}

/* Mobile */
@media (max-width: 480px) {
    .desktop {
        display: none;
    }
}

/* Desktop */
@media (min-width: 481px) {
    .mobile {
        display: none;
    }
}