 <!-- Start the highlighter. -->

<pre class="brush: html">
    <div id="test-knockout" data-bind="tgrid: { provider: itemsProvider}">
        <script type="text/html">
            <column data-g-width="150" data-g-views="mobile,desktop" data-g-member="name">
                <cell>
                    <span data-bind="text: item.name"></span>
                    <a href data-bind="click: function () { getCellDetailFor(0); }">...</a>
                </cell>
                <celldetail>
                    <div>
                        <span>Cell details: </span>
                        <span style="color: brown;" data-bind="text: item.detail_name"></span>
                    </div>
                </celldetail>
            </column>
            <column data-g-width="100" data-g-views="mobile,desktop" data-g-member="key">
                <cell>
                    <span data-bind="text: item.key"></span>
                    <a href data-bind="click: function () { getCellDetailFor(1); }">...</a>
                </cell>
                <celldetail>
                    <div>
                        <span>Cell details: </span>
                        <span style="color: brown;" data-bind="text: item.detail_key"></span>
                    </div>
                </celldetail>
            </column>
            <column data-g-width="150" data-g-views="mobile,desktop" data-g-member="key2">
                <cell>
                    <span data-bind="text: item.key2"></span>
                </cell>
                <celldetail>
                    <div>
                        <span>Cell details key2: </span>
                        <span style="color: brown;" data-bind="text: item.detail_name"></span>
                    </div>
                </celldetail>
            </column>
            <details>
                <div>
                    <span>Row details: </span>
                    <span style="color: brown;" data-bind="text: item.detail"></span>
                </div>
            </details>
        </script>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>