@{
    ViewBag.Title = "Grid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grid</h2>
<style>
   .header-content {
        display: none;
    }
    #GeneralBox_Content_C012_Col00 {
        display: none;
    }
    #list {
        display: inline-block;
    }
    #list ul {
        height: 100%;
    }
    #main-frame {
        visibility: visible;
        height: 560px;
    }
    .sf_colsOut.sf_1col_1_100 {
        margin-top: 40px;
    }
</style>
<script type="text/javascript">
    $('#list').height($('#content').height());
    function Navigate(a) {
        if ($(a).attr('id') == "SimpleGridWithoutPaging") {
            $('#main-frame').attr('src', "/Home/SimpleGridWithoutPaging");
        }
        if ($(a).attr('id') == "SimpleGridWithoutPagingMobile") {
            $('#main-frame').attr('src', "/Home/SimpleGridWithoutPagingMobile");
        }
        if ($(a).attr('id') == "CellTemplate") {
            $('#main-frame').attr('src', "/Home/CellTemplate");
        }
        if ($(a).attr('id') == "CellTemplateMobile") {            
            $('#main-frame').attr('src', "/Home/CellTemplateMobile");
            $('#main-frame').contents().find('html').css({ "padding-left": "47px", "padding-right": "47px" });
            $('#test-knockout').css({"width":"480px"});
        }        
        if ($(a).attr('id') == "HeaderTemplate") {
            $('#main-frame').attr('src', "/Home/HeaderTemplate");
        }
        if ($(a).attr('id') == "HeaderTemplateMobile") {
            $('#main-frame').attr('src', "/Home/HeaderTemplateMobile");
        }
        if ($(a).attr('id') == "DetailsTemplate") {
            $('#main-frame').attr('src', "/Home/DetailsTemplate");
        }
        if ($(a).attr('id') == "DetailsTemplateMobile") {
            $('#main-frame').attr('src', "/Home/DetailsTemplateMobile");
        }
        if ($(a).attr('id') == "CustomActionsToOpenDetails") {
            $('#main-frame').attr('src', "/Home/CustomActionsToOpenDetails");
        }
        if ($(a).attr('id') == "Paging") {
            $('#main-frame').attr('src', "/Home/Paging");
        }
        if ($(a).attr('id') == "PagingMobile") {
            $('#main-frame').attr('src', "/Home/PagingMobile");
        }
        if ($(a).attr('id') == "LazyLoading") {
            $('#main-frame').attr('src', "/Home/LazyLoading");
        }
        if ($(a).attr('id') == "lazyLoadingMobile") {
            $('#main-frame').attr('src', "/Home/lazyLoadingMobile");
        }
        if ($(a).attr('id') == "CustomItemsProvider") {
            $('#main-frame').attr('src', "/Home/CustomItemsProvider");
        }
        if ($(a).attr('id') == "Grouping") {
            $('#main-frame').attr('src', "/Home/Grouping");
        }
        if ($(a).attr('id') == "GroupingMobile") {
            $('#main-frame').attr('src', "/Home/GroupingMobile");
        }
        if ($(a).attr('id') == "GroupingWithVirtualization") {
            $('#main-frame').attr('src', "/Home/GroupingWithVirtualization");
        }
        if ($(a).attr('id') == "EditingWithCellTemplate") {
            $('#main-frame').attr('src', "/Home/EditingWithCellTemplate");
        }
        if ($(a).attr('id') == "RowsWithVirtualization") {
            $('#main-frame').attr('src', "/Home/RowsWithVirtualization");
        }
        if ($(a).attr('id') == "RowsWithPaging") {
            $('#main-frame').attr('src', "/Home/RowsWithPaging");
        }      
        
     
    }
</script>
