<!-- Start the highlighter. -->

<pre class="brush: html">
    <div id="test-knockout" data-bind="tgrid: { provider: itemsProvider, enableGrouping: 'true' }">
        <script type="text/html">
            <column data-g-width="150" data-g-views="mobile,desktop" data-g-member="name" data-g-group-member="name"> 
            </column>
            <column data-g-width="100" data-g-views="mobile,desktop" data-g-member="key" data-g-group-member="key">
            </column>
            <column data-g-width="150" data-g-views="mobile,desktop" data-g-member="key2" data-g-group-member="key2">
            </column>
        </script>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>