<!-- Start the highlighter. -->

<pre class="brush: html">
    <div id="test-knockout" data-bind="tgrid: { provider: itemsProvider}">
        <script type="text/html">
            <column data-g-width="150" data-g-views="mobile,desktop" data-g-member="name">
                <header>
                    <span data-bind="text: nameColumnTitle"></span>
                </header>
            </column>
            <column data-g-width="100" data-g-views="mobile,desktop" data-g-member="key">
                <header>Last Name</header>
            </column>
            <column data-g-width="150" data-g-views="mobile,desktop" data-g-member="key2">
                <header>
                    <span>Age</span>
                </header>
            </column>
        </script>
    </div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>