
<!-- Start the highlighter. -->

<pre class="brush: html">
<div id="test-knockout" data-bind="tgrid: { provider: itemsProvider }">
    <script type="text/html">
        <column data-g-width="150" data-g-views="mobile,desktop" data-g-member="Name"> 
        </column>
        <column data-g-width="100" data-g-views="mobile,desktop" data-g-member="Surname">
        </column>
        <column data-g-width="150" data-g-views="mobile,desktop" data-g-member="Age">  
        </column>
    </script>
</div>
</pre>

<script type="text/javascript">
    SyntaxHighlighter.highlight();
</script>