@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SimpleGridWithoutPagingMobile</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Grid.css">

   @* <script src="~/Scripts/angular.js"></script>*@
    <script src="~/Scripts/iframe/jquery-2.0.3.js"></script>
    <script src="~/Scripts/iframe/knockout-2.3.0.js"></script>

    <script src="~/Scripts/iframe/BaseHtmlProvider.js" type="text/javascript"></script>
    <script src="~/Scripts/iframe/KnockoutHtmlProvider.js" type="text/javascript"></script>
    @*<script src="~/Scripts/AngularHtmlProvider.js" type="text/javascript"></script>*@
    <script src="~/Scripts/iframe/options.js" type="text/javascript"></script>
    <script src="~/Scripts/iframe/ItemViewModel.js" type="text/javascript"></script>
    <script src="~/Scripts/iframe/TGrid.js" type="text/javascript"></script>
    <script src="~/Scripts/iframe/TGridBinding.js" type="text/javascript"></script>
    <script src="~/Scripts/iframe/TGridDirective.js" type="text/javascript"></script>
    <script src="~/Scripts/iframe/SortDescriptor.js" type="text/javascript"></script>
    <script src="~/Scripts/iframe/FilterDescriptor.js" type="text/javascript"></script>
    <script src="~/Scripts/iframe/GroupHeaderDescriptor.js" type="text/javascript"></script>
    <script src="~/Scripts/iframe/utils.js" type="text/javascript"></script>
</head>
<body>
    <div style="width: 150px; height:150px; background:red;">
        
    </div>
</body>
</html>
